.overlay_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    overflow: hidden;
    right: 0;
    z-index: 99999999;
    left: 0;
    background: var(--bg-color-primary);
}

.close {
    background: none;
    color: #424949;
}

.delete {
    background: linear-gradient(to right, #f8bdbd, #feadad);
    color: #fa5252;
}

.btn {
    border-radius: 30px;
    font-size: 17px;
    padding: 10px 30px 10px 30px;
    margin: 15px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.overlay_information {
    text-align: center;
    width: 90%;
}

@media (max-width: 850px) {
    h2 {
        font-size: 14px !important;
        text-align: center;
    }

    .overlay_information {
        font-size: 11px !important;
    }

    .btn {
        font-size: 14px !important;
        margin: 10px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 13px !important;
    }

    .overlay_information {
        font-size: 10px !important;
    }

    .btn {
        font-size: 13px !important;
    }
    .section_separator {
        width: 270px;
    }
}
