.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 5px;
    z-index: 99;
}

.logo {
    font-size: 30px;
    font-weight: 900;
}

.logo_icon {
    margin-left: 30px;
    transform: rotate(-15deg);
    margin-right: -5px;
    width: 35px;
    height: 35px;
}

.user_photo {
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 50px;
}

.navbar {
    margin-right: 25px;
    .navlink {
        font-size: 14px;
        background: #e1e1e1;
        color: black;
        border: none;
        height: 100%;
        border-radius: 20px;
        padding: 0px 19px;
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
    .wrapper_logout {
        background: white;
        border: 1px solid grey;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover {
            cursor: pointer;
            // background: #b8b7b7;
            background: #f3f1f1;
            border: 1px solid #FA5252;
        }
        .logout_icon {
            width: 20px;
            height: 20px;
        }
    }
}

.is_active {
    text-decoration: underline;
    text-decoration-color: #339AF0;
    text-decoration-thickness: 2px;
}

.margin_zero {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media print {
    .header {
        display: none;
    }
}
