<div class="header d_flex_space">
    <div class="d_flex">
        <img class="logo_icon" src="assets/testcreator.png" alt="">
        <h1 class="logo d_flex margin_zero">TestCreator</h1>
    </div>

    <div class="d_flex">
  
        <!-- <img crossorigin="anonymous" class="user_photo" src="assets/simon_weiss.jpg" alt=""> -->
        <div class="wrapper_username d_flex">
            <p *ngIf="data.loaded" class="username margin_zero">{{ data.currentUserData.username }}</p>
            <div class="d_flex wrapper_logout">
                <img class="logout_icon" src="assets/logout.png" alt="" *ngIf="data.getUserDataFromLocalStorage()" (click)="data.logoutUser()">
            </div>
        </div>
    </div>
</div>
