<div class="header d_flex_space" >
    <div class="d_flex">
        <img class="logo_icon" src="assets/testcreator.png" alt="">
        <h1 class="logo d_flex margin_zero">TestCreator</h1>
    </div>

    <nav class="navbar d_flex">

        <!-- <img crossorigin="anonymous" class="user_photo" src="assets/simon_weiss.jpg" alt=""> -->
        <button routerLink="/dashboard" class="navlink margin_zero" [routerLinkActive]="'is_active'">Creator</button>
        <button routerLink="/ablage" class="navlink margin_zero" [routerLinkActive]="'is_active'">Ablage</button>
        <button routerLink="/account" class="navlink margin_zero" [routerLinkActive]="'is_active'">Account</button>
            <div class="d_flex wrapper_logout">
                <img class="logout_icon" src="assets/logout.png" alt="" *ngIf="data.getUserDataFromLocalStorage()"
                    (click)="data.logoutUser()">
            </div>
    </nav>
</div>