.login {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #e1e1e1;
    z-index: 999;
}

.logo_icon {
    transform: rotate(-15deg);
    margin-right: -5px;
    width: 35px;
    height: 35px;
}

.logo {
    font-size: 30px;
    font-weight: 900;
}

.login {
    .btn_is_blue {
        background: #e1e1e1;
        border: 2px solid #339af0;
        color: #424949;
        border-radius: 30px;
        font-size: 17px;
        padding: 10px 30px 10px 30px;
        margin: 15px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    input {
        outline: none;
        border: none;
        text-align: center;
        width: 300px;
        font-size: 17px;
        background: #ffff;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
    }

    .school {
        background-color: white;
        padding: 10px;
        .school_adress {
            font-size: 13px;
            margin: 5px;
        }
    }
}
