<h1>TestCreator</h1>

<div class="main_wrapper d_flex_column">
    <div class="subject_wrapper">
        <div class="d_flex_column section">
            <h2>Für welches Fach soll die Aufgabe angelegt werden?</h2>
            <div class="subject_btn_wrapper d_flex" *ngIf="loaded">
                <p *ngIf="loadedUserdata[0].subjects == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                <div *ngFor="let button of loadedUserdata[0].subjects ; let i = index">
                    <button class="subject_btn" [class.selectedButton]="i == selectedSubjectButton"
                        (click)="choiceSubject(button, i)">{{ button }}</button>
                </div>
            </div>
            <div class="addNew_container">
                <button *ngIf="!newSubject" class="subject_btn addNew_btn" (click)="showInputForNewSubject('subject')">
                    + Neues Fach anlegen
                </button>
                <div *ngIf="newSubject" class="d_flex">
                    <form class="d_flex_column" action="">
                        <input class="inputfield" id="subjectInput" #subjectInput type="text" value=""
                            placeholder="Fach name">
                        <div class="d_flex">
                            <button class="subject_btn cancel_btn" (click)="newSubject = false">Abbrechen</button>
                            <button class="subject_btn addNew_btn" (click)="addNewSubject(subjectInput.value)">Fach
                                anlegen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section_separator"></div>
    </div>

    <div class="subject_wrapper">
        <div class="d_flex_column section">
            <h2>Für welche Klasse soll die Aufgabe angelegt werden? </h2>
            <div class="subject_btn_wrapper d_flex" *ngIf="loaded">
                <p *ngIf="loadedUserdata[0].classes == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                <div *ngFor="let button of loadedUserdata[0].classes ; let i = index">
                    <button class="subject_btn" [class.selectedButton]="i == selectedClassButton"
                        (click)="choiceClass(button, i)">{{ button }}</button>
                </div>
            </div>
            <div class="addNew_container">
                <button *ngIf="!newClass" class="subject_btn addNew_btn" (click)="showInputForNewSubject('class')">
                    + Neue Klasse anlegen
                </button>
                <div *ngIf="newClass" class="d_flex">
                    <form class="d_flex_column" action="">
                        <input class="inputfield" id="classInput" #classInput type="text" value=""
                            placeholder="Fach name">
                        <div class="d_flex">
                            <button class="subject_btn cancel_btn" (click)="newClass = false">Abbrechen</button>
                            <button class="subject_btn addNew_btn" (click)="addNewClass(classInput.value)">Klasse
                                anlegen</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section_separator"></div>
        </div>
    </div>

    <h1>Erstellen sie eine Frage!</h1>
    <button type="button" (click)="showEditorData()">ShowEditorData</button>
    <div #editor class="editor_wrapper">


    </div>

    <form class="questionForm" #questionForm="ngForm" (ngSubmit)="addData(questionForm.value)">
        <div class="d_flex_column">


            <textarea name="" id="" cols="30" rows="10" placeholder="Antwort" name="antwort" ngModel></textarea>

            <div class="d_flex_column section">
                <h2>Max. Punktzahl für diese Aufgabe?</h2>
                <div class="subject_btn_wrapper d_flex_column" *ngIf="loaded">
                    <div class="points_wrapper d_flex">
                        <p class="points_number">{{ pointsRange.value }}</p>
                    </div>
                    <input class="rangebar" #pointsRange type="range" min="1" max="25" step="1" value="10"
                        placeholder="Punktzahl (nur Zahlen)" name="punktzahl" ngModel>
                </div>
            </div>
            <div class="section_separator"></div>


            <div class="d_flex_column section noBorderBottom">
                <h2 class="keyword_headline">Keywords für eine spätere Suche und genaue Filterung der Aufgabe!</h2>
                <p class="keywords_subline"><b class="important">Wichtig! </b>Keywords bitte durch Komma trennen</p>
                <div class="subject_btn_wrapper d_flex_column" *ngIf="loaded">
                    <textarea class="keyword_textarea" placeholder="z.B: Erstes Halbjahr, Grammatik, ..."
                        name="keywords" ngModel></textarea>
                </div>
            </div>




            <div class="d_flex save_btn_wrapper">
                <button class="subject_btn cancel_btn" (click)="newClass = false">Abbrechen</button>
                <button class="subject_btn addNew_btn" type="submit">
                    {{editMode ? 'Änderungen Speichern' : 'Frage Speichern'}}</button>
            </div>

        </div>

    </form>

</div>

















<div class="d_flex_column" *ngFor="let data of loadedQuestions">
    <div class="question">
        <div>
            Fach: {{data.fach}}
        </div>
        <div>
            Klasse: {{data.klasse}}
        </div>
        <div *ngFor="let question of data['frage']['blocks']">
            <div [innerHTML]="question['data']['text'] "></div>
            <div *ngFor="let items of question['data']['items'] let i = index">
                <ol class="d_flex_start" *ngIf="question['data']['style'] == 'ordered'">
                    <p class="ordered_list_number">{{i + 1}}.</p>
                    <p class="order_list_item" [innerHTML]="items"></p>
                </ol>
                <ul *ngIf="question['data']['style'] == 'unordered'">
                    <li [innerHTML]="items"></li>
                </ul>
            </div>
            <div  *ngIf="question['data']['table']">
                <div *ngFor="let table of question['data']['table'][1] let i = index">
                    <div *ngFor="let contentRows of table[i] let j = index">
                        
                        <div [innerHTML]="contentRows[j]"></div>
                    </div>
    
    
                </div>
            </div>
           
        </div>

        <div>
            Antwort: {{data['frage']['antwort']}}
        </div>
        <div>
            Punktzahl: {{data.punktzahl}}
            ID: {{ data.id }}
        </div>
        <div>
            Keywords: {{data.keywords}}
        </div>
        <div>
            <button (click)="updateData(data.id)">Edit</button>
            <button (click)="deletedata(data.id)">Delete</button>
            <button (click)="logID( data.id)">Log ID</button>
        </div>

    </div>

</div>