body {
    margin: 0;
    background: #f2f3f4;
    font-family: "Montserrat", sans-serif;
}

.spinner {
    position: fixed;
    height: 100vw;
    width: 80vw;
    top: 0;
}

.page_break {
    page-break-after: always;
}

.mat-spinner::ng-deep circle {
    stroke: #1d202b;
}

.overlay_bg {
    position: absolute;
    top: 0;
    background-color: #f2f3f4;
    z-index: 999;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 200px;
}

.section {
    margin-top: 75px;
    padding-bottom: 75px;
}

.d_none {
    display: none;
}

.subject_wrapper {
    width: 100%;
}

.lesson_button {
    width: 100px;
    height: 20px;
}
.subject_btn_wrapper {
    width: 100%;
    flex-wrap: wrap;
}

.addNew_btn {
    background: linear-gradient(to right, #c2c2c2, #c7c7c7) !important;
}

.addNew_container {
    margin-top: 30px;
}

.subject_btn {
    background: linear-gradient(to right, #26d3bf, #0ebfa2);
    color: #424949;
    border-radius: 30px;
    font-size: 17px;
    padding: 10px 30px 10px 30px;
    margin: 15px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.cancel_btn {
    background: #f2f3f4 !important;
}

.selectedButton {
    border: 2px solid #2c3e50;
}

.inputfield {
    outline: none;
    border: none;
    text-align: center;
    width: 90%;
    font-size: 20px;
    border-bottom: 2px dotted black;
    background: #f2f3f4;
    padding: 10px;
}

.editor_wrapper {
    width: 80vw;
    max-width: 1500px;
    box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);
    background: white;
    padding-top: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.questionForm {
    width: 100%;
}

.rangbar_wrapper {
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
}

.points_wrapper {
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;

    border: 2px solid black;
}

.points_number {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
}

.rangebar {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    height: 15px;
    background: linear-gradient(to right, #26d3bf, #0ebfa2);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.rangebar:hover {
    opacity: 0.9;
}

.rangebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 20px;
    height: 25px;
    background: #c7c7c7;
    cursor: pointer;
}

.rangebar::-moz-range-thumb {
    width: 25px;
    border-radius: 20px;
    height: 25px;
    background: #c7c7c7;
    cursor: pointer;
}

.keyword_headline {
    margin-bottom: 0px;
}

.keywords_subline {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
    opacity: 0.7;
}

.important {
    color: #da5838;
}

.keyword_textarea {
    outline: none;
    text-align: center;
    width: 90%;
    height: 100px;
    font-size: 17px;
    border: 1px solid black;
    background: #f2f3f4;
    padding: 20px;
}

.noBorderBottom {
    border-bottom: none;
}

.save_btn_wrapper {
    margin-top: 50px;
    margin-bottom: 200px;
}

/*
style for rendered subjects
*/

.questions_wrapper {
    max-width: 1700px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter_wrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 20px;
    flex-direction: column;
    background: white;
    border-right: 1px solid grey;
    width: 200px;
}

.questions_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.questions {
    width: calc(100% - 40px);
    margin-bottom: 100px;
    max-width: 1000px;
}

.margin_zero {
    margin-top: 0px;
    margin-bottom: 0px;
}

.headline_test_infos {
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 100px;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(to right, rgb(224 224 224), rgb(231 236 235));
    position: sticky;
    margin-bottom: 15px;
    top: 0;
    z-index: 99;
}

.headline_test_infos_inside_container {
    max-width: 1000px;
    width: calc(100% - 40px);
}

.test_info_item {
    margin-left: 10px;
    font-size: 17px;
}

.preview_btn {
    background: linear-gradient(to right, #26d3bf, #0ebfa2);
    color: #424949;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    margin-left: 40px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.question_wrapper {
    width: calc(100% - 40px);
    margin-bottom: 1%;
    padding-bottom: 0;
}

.question {
    width: 100%;
    box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);
    background: white;
    padding: 20px 20px 10px 20px;
}

.question_added {
    border-right: 3px solid #13bfa4;
}

.question_container {
    margin-top: 5px;
    font-size: calc(100vw * 0.02);
    font-size: max 20px;
    margin-bottom: 5px;
}

.question_head_container {
    display: flex;
    margin-bottom: 1.5%;
}

.question_info {
    font-size: calc(100vw * 0.018);
}

.question_info_btn {
    border-bottom: 1px solid #aaaaaa;
    padding: 3px 5px 3px 5px;
    margin-right: 15px;
}

.question_add {
    z-index: 3;
}

.question_add_btn {
    background: linear-gradient(to right, #c2c2c2, #c8d4d1);
    border: none;
    border-radius: 50px;
    padding: 7px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .add_icon {
        width: 20px;
        height: 20px;
    }
}

.added {
    border: 3px solid #13bfa4;
}

.ordered_list_number {
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.order_list_item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tableItem {
    border: 1px solid black;
    height: 2.3vw;
    padding: 1%;
    margin: -0.5px;
}

.tableRow {
    width: 100%;
}

.question_img {
    max-width: 40%;
    max-height: 250px;
}

.margin_left {
    margin-left: 4vw;
}

.element_margin_text {
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.checkfield {
    width: 2vw;
    margin-right: 1.5vw;
    height: 2vw;
    border-radius: 50px;
    border: 1px solid black;
}

.checkbox_item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bold {
    font-weight: bold;
}

.h1 {
    font-size: calc(100vw * 0.025);
}

.d_none {
    display: none;
}

/*
Answer styles
*/

.answer_btn_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.answer_btn {
    background: none;
    margin-top: 20px;
    border: none;
    border-top: 1px solid #aaaaaa;
    font-size: calc(100vw * 0.018);
    &:hover {
        border-top: 1px solid #21ccb6;
        cursor: pointer;
    }
}

.question_arrow {
    margin-left: 5px;
    height: 15px;
    width: 15px;
}

.question_arrow_turned {
    transform: rotate(180deg);
}

.d_none {
    display: none;
}

.margin_top {
    margin-top: 75px;
}

.add_question_container {
    position: fixed;
    left: 0;
    right: 0px;
    bottom: 0px;
    height: 100px;
}

.add_question_btn_wrapper {
    background: linear-gradient(to right, #c2c2c2, #c8d4d1);
    width: 320px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_question_btn {
    color: #424949;
    height: 100%;
    width: 50%;
    border-radius: 50px;
    background: none;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
    border: none;
    &:hover {
        cursor: pointer;
        background: #ffffff33;
    }
}

.menu_burger {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    border-radius: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        cursor: pointer;
        background: #ffffff33;
    }
}

.burger_top {
    width: 25px;
    margin-bottom: 2px;
    height: 3px;
    background: black;
    background: linear-gradient(to right, #26d3bf, #0ebfa2);
}

.burger_bottom {
    width: 25px;
    margin-top: 2px;
    height: 3px;
    background: black;
    background: linear-gradient(to right, #26d3bf, #0ebfa2);
}

/*
Styles für die Vorschau sektion
*/

.test_print {
    max-width: 1000px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}

.test_content {
    width: 100%;
    padding-top: 9%;
    padding-bottom: 9%;
}

.preview_question_container {
    font-size: calc(100vw * 0.016);
}

.test_head_wrapper {
    width: 82%;
}

.testHead {
   width: 100%;
}

.test_head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.school_name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.testname {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.class {
    margin-top: 1%;
    margin-bottom: 1%;
}

.message {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.test_head_infos {
    width: 82%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.class_wrapper {
    margin-left: 40%;
}

.test_head_data {
    width: 82%;
    border-bottom: 2px solid black;
    margin-bottom: 5%;
}

.test_head_data_item {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.test_total_number {
    margin-left: 15%;
}

.show_onHover {
    display: none;
}

.added_questions_empty_info {
    font-size: 20px;
}

.added_questions_empty_container {
    margin-top: 200px;
}

.test_dinA4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: calc((100vw) * 1.538);
    background: white;
    max-height: 1615px;
    width: 100%;
    margin-bottom: 2vw;
    font-size: calc(100vw * 0.016);
}

.page_number_wrapper {
    position: absolute;
    bottom: 2vw;

    .page_number {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: calc(100vw * 0.016);
    }
}

.second_dinA4 {
    position: relative;
    height: calc((100vw) * 1.57);
    background: white;
    max-height: 1615px;
    width: 100%;
    margin-bottom: 2vw;
    z-index: -1;
    font-size: calc(100vw * 0.016);
}

.question_test {
    width: 85.5%;
    padding: 1%;
    &:hover {
        background: #f2f3f4;
        cursor: pointer;

        .show_onHover {
            display: flex;
        }
    }

    .remove_from_test_btn {
        position: absolute;
        object-fit: cover;
        border: 1px solid #da5838;
        border-radius: 40px;
        height: 25px;
        width: 25px;
        &:hover {
            background: #f9d1c9;
            cursor: pointer;
        }
    }

    .remove_icon {
        width: 19px;
    }
}

.question_test_number {
    font-size: calc(100vw * 0.016);
    font-weight: bold;
}

.test_number {
    margin-left: 0.5vw;
}

.preview_question_img {
    width: 30%;
}

.preview_lists {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* rangebar Vorschau
*/

.rangebar_wrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 90vw;
    z-index: 999;

    .rangbar_container {
        height: 400px;
        width: 100px;
    }

    .rangebar_text {
        transform: rotate(270deg);
        margin-bottom: 170px;
    }

    .range_style {
        -webkit-appearance: none;
        transform: rotate(90deg);
        width: 300px;
        border-radius: 10px;
        height: 15px;
        box-shadow: 0px 0px 59px 0px #bcbbbb;
        background: linear-gradient(to right, #26d3bf, #0ebfa2);
        outline: none;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .range_style:hover {
        opacity: 0.9;
    }

    .range_style::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        border-radius: 20px;
        height: 25px;
        background: #c7c7c7;
        cursor: pointer;
    }

    .range_style::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        background: #c7c7c7;
        cursor: pointer;
    }
}

.height_info_wrapper {
    cursor: pointer;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #13bfa4;
    max-height: 34px;

    &:hover {
        background: rgb(19 191 164 / 34%);
    }

    .double_arrows {
        transform: rotate(90deg);
        width: 15px;
    }
}

.img_wrapper {
    position: relative;
}

.img_edit_btn {
    position: absolute;
    left: 0;
    background: #f2f3f4;
    border-left: 1px solid #13bfa4;
    width: 20px;
    top: 0;
    bottom: 0px;

    &:hover {
        background: rgb(19 191 164 / 34%);
    }

    .right_double_arrow {
        width: 15px;
    }

    .left_double_arrow {
        width: 15px;
        transform: rotate(180deg);
    }
}

.d_none {
    display: none;
}

.opacity0 {
    opacity: 0;
}

.paddingBottom0 {
    padding-bottom: 0px;
}

@media (max-width: 850px) {
    .hide_on_mobile {
        display: none;
    }

    .editor_wrapper {
        width: 95vw;
    }

    .question_info_btn {
        margin-right: 5px;
    }

    .section {
        flex-direction: column;
    }

    .rangbar_wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .points_number {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .test_info_item {
        font-size: 13px;
    }

    .preview_btn {
        font-size: 13px;
        margin-left: 25px;
    }

    .question_add_btn {
        padding: 5px;
    }

    .added {
        border: 2px solid #13bfa4;
    }

    .answer_btn {
        font-size: 13px;
    }

    .question_arrow {
        height: 13px;
        width: 13px;
    }

    .added_questions_empty_info {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .question_add_btn {
        padding: 4px;
    }

    .answer_btn {
        font-size: 10px;
    }

    .question_arrow {
        height: 10px;
        width: 10px;
    }

    .add_question_container {
        height: 60px;
    }

    .add_question_btn {
        font-size: 15px;
        border-radius: 5px;
    }

    .added_questions_empty_info {
        font-size: 13px;
    }
}

@media (min-width: 1030px) {
    .preview_question_container,
    .question_test_number,
    .test_dinA4 {
        font-size: 16.5px;
    }
    .h1 {
        font-size: 25px;
    }

    .second_dinA4 {
        margin-bottom: 22px;
    }

    .test_dinA4 {
        margin-bottom: 22px;
    }

    .page_number_wrapper {
        bottom: 20;

        .page_number {
            font-size: 16.5px;
        }
    }

    .test_number {
        margin-left: 5px;
    }

    .tableItem {
        border: 1px solid black;
        padding: 4.3px;
        height: 23px;
        margin: -0.5px;
    }

    .element_margin_text {
        margin-top: 10.5px;
        margin-bottom: 10.5px;
    }

    .checkfield {
        width: 20px;
        margin-right: 15px;
        height: 20px;
    }

    .margin_left {
        margin-left: 42px;
    }
}

@media (min-width: 850px) {
    .question_info, .answer_btn {
        font-size: 13px;
    }
    .question_container {
        font-size: 17px;
    }
}

@media print {
  .headline_test_infos, .add_question_container {
      display: none;
  }


    
  
}
