<h1>TestCreator</h1>
<div class="main_wrapper d_flex_column">
    <div class="subject_wrapper">
        <div class="d_flex_column section">
            <h2>Für welches Fach soll die Frage angelegt werden?</h2>
            <div class="subject_btn_wrapper d_flex" *ngIf="loaded">    
                <p *ngIf="loadedUserdata[0].subjects == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                <div *ngFor="let button of loadedUserdata[0].subjects ; let i = index">
                    <button class="subject_btn" [class.selectedButton]="i == selectedSubjectButton" (click)="choiceSubject(button, i)">{{ button }}</button>
                </div>         
            </div>
           <div class="addNew_container">
            <button *ngIf="!newSubject" class="subject_btn addNew_btn" (click)="showInputForNewSubject('subject')">
                + Neues Fach anlegen
             </button>
             <div *ngIf="newSubject" class="d_flex">
                <form class="d_flex_column" action="" >
                    <input class="inputfield" id="subjectInput" #subjectInput type="text" value="" placeholder="Fach name">
                    <div class="d_flex">
                        <button class="subject_btn cancel_btn" (click)="newSubject = false">Abbrechen</button>
                        <button class="subject_btn addNew_btn" (click)="addNewSubject(subjectInput.value)">Fach anlegen</button>            
                    </div>
                </form>
            </div>
           </div>   
        </div>
    </div>

    <div class="d_flex subject_wrapper">
        <div class="d_flex_column section">
            <h2>Für welche Klasse soll die Frage angelegt werden?</h2>
            <div class="subject_btn_wrapper d_flex" *ngIf="loaded">    
                <p *ngIf="loadedUserdata[0].classes == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                <div *ngFor="let button of loadedUserdata[0].classes ; let i = index">
                    <button class="subject_btn" [class.selectedButton]="i == selectedClassButton" (click)="choiceClass(button, i)">{{ button }}</button>
                </div>         
            </div>
           <div class="addNew_container">
            <button *ngIf="!newClass" class="subject_btn addNew_btn" (click)="showInputForNewSubject('class')">
                + Neue Klasse anlegen
             </button>
             <div *ngIf="newClass" class="d_flex">
                <form class="d_flex_column" action="" >
                    <input class="inputfield" id="subjectInput" #classInput type="text" value="" placeholder="Fach name">
                    <div class="d_flex">
                        <button class="subject_btn cancel_btn" (click)="newClass = false">Abbrechen</button>
                        <button class="subject_btn addNew_btn" (click)="addNewSubject(classInput.value)">Klasse anlegen</button>            
                    </div>
                </form>
            </div>
           </div>   
        </div>
    </div>
    
</div>




<form #questionForm="ngForm" (ngSubmit)="addData(questionForm.value)">
    <div class="d_flex_column">
       
        <input type="text" placeholder="Klasse" name="klasse" ngModel>
        <textarea name="" id="" cols="30" rows="10" placeholder="Frage" name="frage" ngModel></textarea>
        <textarea name="" id="" cols="30" rows="10" placeholder="Antwort" name="antwort" ngModel></textarea>
        
        <input type="text" placeholder="Punktzahl" name="punktzahl" ngModel>
        <input type="text" placeholder="keywords" name="keywords" ngModel>
        <button type="submit" >{{editMode ? 'Änderungen Speichern' : 'Frage Speichern'}}</button>
    </div>
   
</form>










<div class="d_flex_column" *ngFor="let data of loadedQuestions">
    <div class="question">
        <div>
            Fach: {{data.fach}}
        </div>
        <div>
            Klasse: {{data.klasse}}
        </div>
        <div>
            Frage: {{data['frage']['frage']}}
        </div>
        <div>
            Antwort: {{data['frage']['antwort']}}
        </div>
        <div>
            Punktzahl: {{data.punktzahl}}
            ID: {{ data.id }}
        </div>
        <div>
            Keywords: {{data.keywords}}
        </div>
        <div>
            <button (click)="updateData(data.id)">Edit</button>
            <button (click)="deletedata(data.id)">Delete</button>
            <button (click)="logID( data.id)">Log ID</button>
        </div>
       
    </div>

</div>
<button type="button" (click)="fileInput.click()">Datei auswählen</button>
<input style="display: none" type="file" (change)="chooseFile($event)" #fileInput>
