<div [class.d_none]="!overlay" class="overlay_bg d_flex">

    <div *ngIf="loading" class="spinner d_flex">
        <mat-spinner class="mat-spinner" mode="indeterminate"></mat-spinner>
    </div>

    <div class="main_wrapper d_flex_column ">
        <div class="subject_wrapper d_flex_column">
            <div class="d_flex_column section">
                <h2>Für welches Fach soll die Aufgabe angelegt werden?</h2>
                <div (click)="setForm()" class="subject_btn_wrapper d_flex" *ngIf="loaded">
                    <p *ngIf="loadedUserdata[0].subjects == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                    <div *ngFor="let button of loadedUserdata[0].subjects ; let i = index">
                        <button class="subject_btn" [class.selectedButton]="i == selectedSubjectButton"
                            (click)="choiceSubject(button, i)">{{ button }}</button>
                    </div>
                </div>
                <div class="addNew_container">
                    <button *ngIf="!newSubject" class="subject_btn addNew_btn"
                        (click)="showInputForNewSubject('subject')">
                        + Neues Fach anlegen
                    </button>
                    <div *ngIf="newSubject" class="d_flex">
                        <form class="d_flex_column" action="">
                            <input class="inputfield" id="subjectInput" #subjectInput type="text" value=""
                                placeholder="Name Fach">
                            <div class="d_flex">
                                <button class="subject_btn cancel_btn" (click)="newSubject = false">Abbrechen</button>
                                <button class="subject_btn addNew_btn" (click)="addNewSubject(subjectInput.value)">Fach
                                    anlegen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="section_separator"></div>
        </div>

        <div class="subject_wrapper">
            <div class="d_flex_column section">
                <h2>Für welche Klasse soll die Aufgabe angelegt werden? </h2>
                <div class="subject_btn_wrapper d_flex" *ngIf="loaded">
                    <p *ngIf="loadedUserdata[0].classes == 0">{{ 'Du hast noch kein Fach angelegt!' }}</p>
                    <div *ngFor="let button of loadedUserdata[0].classes ; let i = index">
                        <button class="subject_btn" [class.selectedButton]="i == selectedClassButton"
                            (click)="choiceClass(button, i)">{{ button }}</button>
                    </div>
                </div>
                <div class="addNew_container">
                    <button *ngIf="!newClass" class="subject_btn addNew_btn" (click)="showInputForNewSubject('class')">
                        + Neue Klasse anlegen
                    </button>
                    <div *ngIf="newClass" class="d_flex">
                        <form class="d_flex_column" action="">
                            <input class="inputfield" id="classInput" #classInput type="text" value=""
                                placeholder="Name Klasse">
                            <div class="d_flex">
                                <button class="subject_btn cancel_btn" (click)="newClass = false">Abbrechen</button>
                                <button class="subject_btn addNew_btn" (click)="addNewClass(classInput.value)">Klasse
                                    anlegen</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="section_separator margin_top"></div>
            </div>
        </div>

        <h1>Frage erstellen!</h1>
        <button type="button" (click)="saveEditorData()">ShowEditorData</button>
        <div #editor class="editor_wrapper">


        </div>

        <form class="questionForm" #questionForm="ngForm" (ngSubmit)="addData(questionForm.value)">
            <div class="d_flex_column">
                <div class="d_flex section">
                    <div class="d_flex_column rangbar_wrapper">
                        <h2>Max. Punktzahl?</h2>
                        <div class="subject_btn_wrapper d_flex_column" *ngIf="loaded">
                            <div class="points_wrapper d_flex">
                                <p class="points_number">{{ pointsRange.value }} Pkt</p>
                            </div>
                            <input class="rangebar" #pointsRange type="range" min="1" max="25" step="1" value="10"
                                name="punktzahl" ngModel>
                        </div>
                    </div>
                    <div class="d_flex_column rangbar_wrapper">
                        <h2>Max. Bearbeitungszeit?</h2>
                        <div class="subject_btn_wrapper d_flex_column" *ngIf="loaded">
                            <div class="points_wrapper d_flex">
                                <p class="points_number">{{ timeRange.value }} Min</p>
                            </div>
                            <input id="bearbeitungszeit" class="rangebar" #timeRange type="range" min="1" max="90"
                                step="1" value="7" name="bearbeitungszeit" ngModel>
                        </div>
                    </div>

                </div>
                <div class="section_separator"></div>


                <div class="d_flex_column section noBorderBottom">
                    <h2 class="keyword_headline">Keywords für eine spätere Suche und genaue Filterung der Aufgabe!</h2>
                    <p class="keywords_subline"><b class="important">Wichtig! </b>Keywords bitte durch Komma trennen</p>
                    <div class="subject_btn_wrapper d_flex_column" *ngIf="loaded">
                        <textarea class="keyword_textarea" placeholder="z.B: Erstes Halbjahr, Grammatik, ..."
                            name="keywords" ngModel></textarea>
                    </div>
                </div>


                <div class="d_flex save_btn_wrapper">
                    <button type="button" class="subject_btn cancel_btn" (click)="hideOverlay()">Abbrechen</button>
                    <button class="subject_btn addNew_btn" type="submit">
                        {{editMode ? 'Änderungen Speichern' : 'Frage Speichern'}}</button>
                </div>

            </div>

        </form>

    </div>
</div>



<div [class.d_none]="overlay" class="questions_wrapper ">
    <div *ngIf="!preview" class="filter_wrapper d_flex_start_column d_none">
        <p>filter 1</p>
        <p>filter 2</p>
        <p>filter 3</p>
    </div>
    <div *ngIf="preview" class="filter_wrapper d_flex_start_column d_none">
        <p>style 1</p>
        <p>style 2</p>
        <p>style 3</p>
    </div>
    <div class="questions_container">
        <div class="headline_test_infos d_flex">
            <div class="headline_test_infos_inside_container">
                <div class="headline_infos d_flex_end_end">
                    <div class="test_infos_wrapper d_flex">
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestTime }} Min</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestPoints }} Pkt</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero"> {{ addedToTest.length }} {{addedToTest.length !== 1 ? 'Fragen' :
                                'Frage'}}
                            </p>
                        </div>
                    </div>
                    
                    <div class="d_flex">
                        <button (click)="openPreview()" class="preview_btn">{{ !preview ? 'Vorschau' : 'Fragen hinzufügen' }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div [class.d_none]="preview" class="questions d_flex_column">
            <div class="question_wrapper d_flex_column" *ngFor="let data of loadedQuestions let i = index">
                <div id="question_list{{ i }}" class="question">
                    <div class="d_flex_space question_head_container">
                        <div class="question_info d_flex_start">
                            <div class="question_info_btn">
                                {{ data.fach }}
                            </div>
                            <div class="question_info_btn">
                                {{ data.klasse }}
                            </div>
                            <div class="question_info_btn">
                                {{ data.punktzahl }}Pkt
                            </div>
                            <div class="question_info_btn">
                                {{ data.bearbeitungszeit }} Min
                            </div>
                        </div>

                        <div class="question_add">
                            <button id="{{ 'add_btn' + i }}" (click)="addToTest(data.id, 'add_styling')"
                                class="question_add_btn d_flex"><img class="add_icon" src="assets/plus_icon.png"
                                    alt=""></button>
                            <button id="{{ 'remove_btn' + i }}" (click)="removeFromTest(data.id)"
                                class="question_add_btn added d_none d_flex"><img class="add_icon" src="assets/plus_icon.png"
                                    alt=""></button>
                        </div>
                    </div>

                    <div *ngFor="let question of data['frage']['blocks']">
                        <div class="question_container"
                            [innerHTML]="question['data']['text'] ">
                        </div>

                        <div ngClass="question_container" *ngIf="question['type'] == 'checklist'" class="margin_left ">
                            <div class="element_margin_text d_flex_start" *ngFor="let item of question['data']['items'] let k = index">
                                <div class="checkfield">
                                </div>
                                <p class="checkbox_item" [innerHTML]="item['text']"></p>
                            </div>
                        </div>

                        <div class="element_margin_text" *ngIf="question['data']['file']">
                            <img loading="lazy" class="question_img" src="{{ question['data']['file']['url'] }}" alt="">

                        </div>

                        <div class="question_container" *ngFor="let items of question['data']['items'] let i = index">
                            <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'ordered'">
                                <ol class="d_flex_start">
                                    <p class="ordered_list_number">{{i + 1}}.</p>
                                    <p class="order_list_item" [innerHTML]="items"></p>
                                </ol>
                            </div>
                            <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'unordered'">
                                <ul>
                                    <li [innerHTML]="items"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="question_container element_margin_text" *ngIf="question['data']['table']">
                            <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                class="d_flex_start tableRow"
                                *ngFor="let position of question['data']['table']['length'] let i = index">
                                <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                    *ngFor="let tableItem of question['data']['table'][position]">
                                    <div class="tableItem d_flex_start" [innerHTML]="tableItem">

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="answer_btn_container ">
                        <button class="answer_btn d_flex" (click)="toggleAnswer(data.id)">Antwort <img
                                [class.question_arrow_turned]="answerVisible && currentId == data.id"
                                class="question_arrow" src="assets/arrow_slim.png"></button>
                        <div *ngIf="answerVisible && currentId == data.id" class="answer_wrapper">
                            <div class="">
                                <h3>Hier ist Platz für eine Antwort</h3>
                            </div>
                            <div>
                                <button (click)="updateData(data.id)">Edit</button>
                                <button (click)="deletedata(data.id)">Delete</button>
                                <button (click)="logID( data.id)">Log ID</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add_question_container d_flex">
                <div class="add_question_btn_wrapper">
                    <button (click)="showOverlay()" class="add_question_btn">Hinzufügen</button>
                    <div class="menu_burger">
                        <span class="burger_top">
                        </span>
                        <span class="burger_bottom">
                        </span>
                    </div>
                    <button  class="add_question_btn">Filtern</button>
                </div>
            </div>
        </div>



<div *ngIf="loaded" id="test_print" class="test_print" [class.opacity0]="!preview">
        <div id="test_dinA4{{j}}" *ngFor="let pages of test['pages'] let j = index" class="test_dinA4 page_break">
            <div id="test_content{{j}}" class="test_content d_flex_column" >
                <div id="testhead" class="testHead d_flex_column" *ngIf="j == 0">
                    <div class="test_head_wrapper d_flex_space">
                        <div class="test_head">
                            <p class="school_name">{{ currentTestHead[0]['testHead']['schoolname'] }}</p>
                            <p class="testname">{{ currentTestHead[0]['testHead']['testname'] }}</p>
                        </div>
                        <div class="message_container">
                            <p class="message">Viel <br> Erfolg!</p>
                        </div>
                    </div>
    
                    <div class="test_head_infos d_flex_space">
                        <div class="name_date_wrapper d_flex_start_column">
                            <p class="class">Name:</p>
                            <p class="class">Datum:</p>
                        </div>
                        <div class="class_wrapper">
                             <p class="class">Klasse:</p>
                             <p class="class">Note:</p>
                        </div>
                    </div>
    
                    <div class="test_head_data d_flex_space">
                       <p class="class">Bearbeitungszeit: {{ currentTestHead[0]['testHead']['totalTesttime']}} Min.</p>
                       <p class="test_head_data_item">Punktzahl: <b class="test_total_number">/{{ currentTestPoints }}</b></p>    
                    </div>
                    <div class="edit_testhead_wrapper">
                        <button class="edit_testhead_btn">Testkopf Bearbeiten</button>
                    </div>
                </div>
                   
    
                    <div class="added_questions_empty_container d_flex_column" *ngIf="test['pages'][0][0].length == 0 && j == 0 && test['pages'].length < 2 ">
                        <button (click)="openPreview()" class="question_add_btn d_flex"><img class="add_icon" src="assets/add.png"alt=""></button>
                        <p class="added_questions_empty_info" >Noch keine Fragen hinzugefügt</p>
                    </div>
                
                <div [class.paddingBottom0]="test['pages'][j][0].length == i + 1" id="question{{ j }}{{ i }}" class="question_wrapper d_flex_column" *ngFor="let data of pages[0] let i = index">   
                    <div  class="question_test">
                        <div class="d_flex_space question_head_container">
                            <div class="question_info d_flex_start">
                                <div class="question_test_number d_flex">
                                    Aufgabe <p class="test_number" id="question_number{{ j }}{{ i }}"></p>
                                </div>  
                                <!-- {{ j != 0 ? test['pages'][j]['0'].length + i + 1  : i + 1 }}           -->
                            </div>
                            <div class="question_add d_flex"> 
                                <div class="question_test_points">
                                    /{{ data['punktzahl'] }}
                                 </div>
                                <button id="{{ 'remove_btn' + i }}" (click)="removeFromTest(data['id'])"
                                    class="remove_from_test_btn show_onHover d_flex"><img class="remove_icon" src="assets/x_icon.png"
                                        alt=""></button>
                            </div>
                        </div>
                        <div *ngFor="let question of data['frage']['blocks']">
                            <div class="preview_question_container"  
                                [innerHTML]="question['data']['text'] ">
                            </div>
    
                            <div *ngIf="question['type'] == 'checklist'" class="margin_left ">
                                <div class="element_margin_text d_flex_start" *ngFor="let item of question['data']['items'] let k = index">
                                    <div class="checkfield">
                                    </div>
                                    <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                </div>
                            </div>
                            
                            <div class="element_margin_text" *ngIf="question['data']['file']">
                                <div class="img_wrapper d_flex_start">
                                    <img id="questionImage{{ j }}{{ i }}" class="preview_question_img" src="{{ question['data']['file']['url'] }}" alt="">
                                    <div (click)="showRangeToStyleImage(j, i)" class="img_edit_btn d_flex_column show_onHover">
                                        <img class="right_double_arrow" src="assets/double_arrow.png" alt="">
                                        <img class="left_double_arrow" src="assets/double_arrow.png" alt="">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="preview_question_container" *ngFor="let items of question['data']['items'] let i = index">
                                <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'ordered'">
                                    <ol class="d_flex_start preview_lists">
                                        <p class="ordered_list_number">{{i + 1}}.</p>
                                        <p class="order_list_item" [innerHTML]="items"></p>
                                    </ol>
                                </div>
                                <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'unordered'">
                                    <ul class="preview_unordered_list">
                                        <li [innerHTML]="items"></li>
                                    </ul>
                                </div>
    
                               
                                
                            </div>
                            <div class="preview_question_container element_margin_text" *ngIf="question['data']['table']">
                                <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                    class="d_flex_start tableRow"
                                    *ngFor="let position of question['data']['table']['length'] let i = index">
                                    <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                        *ngFor="let tableItem of question['data']['table'][position]">
                                        <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div *ngIf="test['pages'][j][0].length != i + 1" (click)="showRangeToStyleQuestion(j, i)" class="height_info_wrapper d_flex show_onHover">
                            <img class="double_arrows" src="assets/double_arrow.png" alt="">                
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="page_number" class="page_number_wrapper d_flex">
                <p class="page_number"> {{j + 1}}/{{ test['pages'].length }}</p>
            </div>
        </div> 
    </div>

    <div class="add_question_container d_flex" [class.d_none]="!preview">
        <div class="add_question_btn_wrapper">
            <button (click)="showOverlay()" class="add_question_btn">Speichern</button>
            <button (click)="printTest()" class="add_question_btn">download</button>
        </div>
    </div>
       
    <form #rangeSliderForm="ngForm">
        <div (click)="showRangeToStyleQuestion(0, 1)" [class.d_none]="!editQuestionAtPreview" class="rangebar_wrapper d_flex_column_end">  
            <div (click)="$event.stopPropagation()" class="d_flex_column_start rangbar_container">
                <p class="rangebar_text">{{ styleHeight.value }}mm</p>
                <input id="height_rangebar" (input)="setHeightQuestion(styleHeight.value)" (change)="setHeightQuestion(styleHeight.value)" class="range_style" type="range" orient="vertical" min="0" max="300"
                step="10" id="styleHeight" #styleHeight name="styleHeight" ngModel>
            </div>
        </div>

        <div (click)="showRangeToStyleImage(-1, -1)" [class.d_none]="!editImageAtPreview" class="rangebar_wrapper d_flex_column_end">  
            <div (click)="$event.stopPropagation()" class="d_flex_column_start rangbar_container">
                <p class="rangebar_text">{{ styleWidth.value }}%</p>
                <input (input)="setImageSize(styleWidth.value)" (change)="setImageSize(styleWidth.value)" class="range_style" type="range" orient="vertical" min="20" max="100"
                step="5" id="styleWidth" #styleWidth name="styleWidth" ngModel>
            </div>
        </div>
    </form>
    </div>

   
</div>