.inputs_container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    cursor: pointer;
}

.d_none {
    display: none;
}

.inputs_wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-primary);
    cursor: auto;
}

.form_wrapper {
    width: 90%;
}

.input_wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    max-width: 800px;
}

.inputfield {
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 17px;
    background: white;
    border-radius: 20px;
    padding: 10px;
}

.input_maxlength {
    margin-top: 5px;
    margin-bottom: 0px;
    color: grey;
    font-size: 10px;
    text-align: center;
}

.timeNumber {
    font-size: 20px;
    font-weight: bold;
}

.rangebar {
    -webkit-appearance: none;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    height: 15px;
    background: #f2f3f4;
    border: 1px solid grey;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 100px;
}

.rangebar:hover {
    opacity: 0.8;
}

.rangebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 20px;
    height: 25px;
    background: grey;
    cursor: pointer;
}

.rangebar::-moz-range-thumb {
    width: 25px;
    border-radius: 20px;
    height: 25px;
    background: grey;
    cursor: pointer;
}

@media (max-width: 850px) {
    .input_wrapper {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    // .inputfield,
    // .timeNumber {
    //     font-size: 14px !important;
    // }
}

@media (max-width: 600px) {
    .inputfield,
    .timeNumber {
        font-size: 15px !important;
    }
}
