<form>
    <div stopPropagation  class="login d_flex_column" style="z-index: 9999999;">
        <div class="d_flex">
            <img class="logo_icon" src="assets/testcreator.png" alt="">
            <h1 class="logo d_flex margin_zero">TestCreator</h1>
        </div>
        <h2>Login</h2>
    
        <input [class.school_found]="schoolFound" #school type="text" placeholder="Schulname" (input)="checkIfSchoolExists(school.value)">
        <input class="disabled"  [class.enabled]="schoolFound" id="email" #email type="email" placeholder="Email Adresse" disabled="true">
        <input class="disabled" [class.enabled]="schoolFound" #password type="password" placeholder="Passwort" disabled="true">
        <button class="btn_is_blue" (click)="login(email.value, password.value)">Anmelden</button>
    </div>
</form>
