<div (click)="closeAddUser()" class="inputs_container d_flex">
    <div (click)="$event.stopPropagation()" class="inputs_wrapper d_flex_column">
        <h2>Profil anlegen</h2>
        <form #addUserForm="ngForm" class="form_wrapper d_flex_column" (ngSubmit)="data.addNewSubUser(addUserForm.value); closeAddUser()">
            <div class="input_wrapper d_flex_column">
                <input placeholder="Vorname" #firstname class="inputfield" type="text" maxlength="30" name="firstname"
                    ngModel (change)="checkLengthOfInput($event, 'firstname')" (keyup)="checkLengthOfInput($event, 'firstname')">
                <p class="input_info">Min 2 / Noch {{30 - firstname.value.length}} Zeichen</p>
            </div>

            <div class="input_wrapper d_flex_column">
                <input placeholder="Nachname" #lastname class="inputfield" type="text" maxlength="30" name="lastname"
                    ngModel (change)="checkLengthOfInput($event, 'lastname')" (keyup)="checkLengthOfInput($event, 'lastname')">
                <p class="input_info">Min 2 / Noch {{30 - lastname.value.length}} Zeichen</p>
            </div>

            <div class="input_wrapper d_flex_column">
                <input placeholder="Email" #email class="inputfield" type="text" maxlength="50" name="email"
                    ngModel (change)="checkEmailInputValue(email.value)" (keyup)="checkEmailInputValue(email.value)">
                <p id="email_adress" class="input_info">Verifizierte Emailadresse</p>
            </div>

            <div class="input_wrapper d_flex_column">  
                    <input placeholder="Passwort" #password class="inputfield" type="password" maxlength="30" name="password"
                    ngModel (change)="checkPasswordValue(password.value)" (keyup)="checkPasswordValue(password.value)">
                    <div class="d_flex">
                        <p class="input_info password">Min</p>
                        <p id="password_length" class="input_info password">8 Zeichen</p>
                        <p id="password_number" class="input_info password">1 Zahl</p>
                        <p id="password_uppercase" class="input_info password">1 Großbuchstabe</p>
                    </div>
            </div>

            <div class="d_flex">
                <button class="cancel_btn" (click)="closeAddUser()">Abbrechen</button>
                <button disabled #submit_btn class="save_btn" type="submit">Speichern</button>
            </div>
        </form>
        <div [class.d_none]="!alertService.alert" class="alert alert_border_red d_flex" id="alert">

        </div>
    </div>
</div>