.inputs_container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    cursor: pointer;
}

.d_none {
    display: none;
}

.inputs_wrapper {
    width: 100%;
    height: 100%;
    background-color: #f2f3f4;
    cursor: auto;
}

.form_wrapper {
    width: 90%;
}

.input_wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    max-width: 800px;
}

.input_wrapper_label {
    position: relative;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    display: flex;
    align-items: center;

    button {
        position: absolute;
        right: 0px;
        top: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        bottom: 0px;
        font-size: 12px;
        padding: 0px 15px;
        background: var(--bg-color-primary);
        border: 1px solid #fff;

        &.is--active {
            text-decoration: line-through;
        }
    }
}

.inputfield {
    width: 100%;
    max-width: 400px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 17px;
    background: white;
    border-radius: 20px;
    padding: 10px;
}

.input_info {
    margin-top: 5px;
    margin-bottom: 0px;
    color: grey;
    font-size: 10px;
    text-align: center;

    &.password {
        margin-left: 5px;
        margin-right: 5px;
    }
}

// .save_btn {
//     border: 2px solid #339af0 !important;
//     color: #424949;
//     background: none;
//     border-radius: 30px;
//     font-size: 17px;
//     padding: 10px 30px 10px 30px;
//     margin: 15px;

//     &:hover {
//         opacity: 0.8;
//         cursor: pointer;
//     }
// }

// .cancel_btn {
//     background: none;
//     color: #424949;
//     border-radius: 30px;
//     font-size: 17px;
//     padding: 10px 30px 10px 30px;
//     margin: 15px;
//     border: none;

//     &:hover {
//         opacity: 0.8;
//         cursor: pointer;
//     }
// }

.delete_btn {
    border-radius: 30px;
    background: none;
    font-size: 10px;
    padding: 10px 30px 10px 30px;
    margin-top: 150px;
    border: 1px solid #ffcaca;
    color: #fa5252;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.checkbox_wrapper {
    margin-top: 40px;

    .checkbox {
        width: 20px;
        height: 20px;

        &:checked {
            background-color: red;
        }
    }

    .chackbox_label {
        font-size: 14px;
    }
}
