body {
    margin: 0;
    background: #f2f3f4;
    font-family: "Montserrat", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main_wrapper {
    max-width: 1700px;
    width: 80vw;
    margin-top: 50px;
}

.d_none {
    display: none;
}

.d_flex_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d_flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_flex_start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.d_flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.d_flex_end_end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

h2 {
    font-size: 18px !important;
}

.section_separator {
    width: 500px;
    height: 2px;
    background-color: #0000003b;
}


