<!-- Header Component-->
<app-header *ngIf="logedIn"></app-header>
<!-- Edit Component -->
<app-edit class="add_question_overlay" *ngIf="overlay"
    (closeAddQuestionOverlay)="overlay = false; editQuestionMode = false;" [editQuestion]="questionToEdit"
    [editMode]="editQuestionMode"></app-edit>

<app-spinner *ngIf="service.loading"></app-spinner>

<div *ngIf="data.loaded && logedIn" [class.d_none]="overlay" class="questions_wrapper d_flex">
    <div class="questions_container">
        <div class="headline_test_infos d_flex">
            <div class="headline_test_infos_inside_container">
                <div class="headline_infos d_flex_end_end">

                    <div class="test_infos_wrapper d_flex">
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestTime }} Min</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestPoints }} Pkt</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero"> {{ addedToTest.length }} {{addedToTest.length !== 1 ? 'Aufgaben' :
                                'Frage'}}
                            </p>
                        </div>
                    </div>

                    <div class="d_flex">
                        <button (click)="openPreview()" class="preview_btn">{{ !preview ? 'Zum Test' : '+Aufgabe'
                            }}</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- All Questions View with solution-->
        <div [class.d_none]="preview" class="questions d_flex_column" id="allQuestionsListView">
            <div class="totalQuestionsNumber_wrapper d_flex_start">
                {{ totalQuestionsNumber == 1 ? totalQuestionsNumber + ' Aufgabe' : totalQuestionsNumber + ' Aufgaben' }}
                {{filters.length != 0 ? '/ ' + filters.length + ' Filter' : ''}}
            </div>
            <div *ngIf="totalQuestionsNumber == 0 && data.loadedQuestions.length != 0"
                class="question_wrapper_listview d_flex_column">
                <div class="question">
                    Keine passende Aufgabe gefunden!
                </div>
            </div>

            <div style="cursor: pointer;" *ngIf="data.loadedQuestions.length == 0"
                class="question_wrapper_listview d_flex_column" (click)="showAddOverlay()">
                <div class="question">
                    Lege deine erste Aufgabe an!
                </div>
            </div>
            <div id="questionListView{{i}}" class="question_wrapper_listview d_flex_column"
                *ngFor="let questionData of data.loadedQuestions let i = index">
                <div id="question_list{{ i }}" class="question"
                    [class.question_added_leicht]="getAddButtonStyle(questionData.id) && questionData.schwierigkeit == 'Leicht'"
                    [class.question_added_mittel]="getAddButtonStyle(questionData.id) && questionData.schwierigkeit == 'Mittel'"
                    [class.question_added_schwer]="getAddButtonStyle(questionData.id) && questionData.schwierigkeit == 'Schwer'">
                    <div class="question_head_container">
                        <div class="question_info d_flex_start">
                            <div class="question_info__difficulty_btn d_flex"
                                [class.dificulty_leicht_btn]="questionData.schwierigkeit == 'Leicht'"
                                [class.dificulty_mittel_btn]="questionData.schwierigkeit == 'Mittel'"
                                [class.dificulty_schwer_btn]="questionData.schwierigkeit == 'Schwer'">
                                <p class="margin_zero">{{ questionData.schwierigkeit }}</p>
                            </div>

                            <div class="question_info_btn">
                                {{ questionData.fach }}
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.klasse }}
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.punktzahl }} Pkt
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.bearbeitungszeit }} Min
                            </div>
                            <img *ngIf="data.currentUserID == questionData.creatorId" src="assets/user_icon.png" alt="">
                        </div>



                        <div class="question_add">
                            <button [class.d_none]="getAddButtonStyle(questionData.id)" id="{{ 'add_btn' + i }}"
                                (click)="addToTest(questionData.id)" class="btn is_add">

                            </button>
                            <button [class.d_none]="getRemoveButtonStyle(questionData.id)" id="{{ 'remove_btn' + i }}"
                                (click)="removeFromTest(questionData.id); $event.stopPropagation()"
                                class="btn is_remove">

                            </button>
                        </div>
                    </div>

                    <div *ngFor="let question of questionData['frage']['blocks']">
                        <!-- Text -->
                        <div class="question_container" [innerHTML]="question['data']['text'] ">
                        </div>

                        <!-- Checkbox -->
                        <div ngClass="question_container" *ngIf="question['type'] == 'checklist'" class="margin_left ">
                            <div class="element_margin_text d_flex_start"
                                *ngFor="let item of question['data']['items'] let k = index">
                                <div class="checkfield">
                                </div>
                                <p class="checkbox_item" [innerHTML]="item['text']"></p>
                            </div>
                        </div>

                        <!-- Attaches -->
                        <div class="element_margin_doc" style="display: flex;" *ngIf="question['data']['file']">
                            <img loading="lazy" class="question_img" src="{{ question['data']['file']['url'] }}" alt="">
                            <div class="attaches d_flex" *ngIf="question['type'] === 'attaches'">
                                <img class="attached_icon" src="assets/attached.png" alt="">
                                <a target="_blank" href="{{ question['data']['file']['url'] }}">
                                    Dokument angehängt
                                </a>
                                <!-- <img class="link_icon" src="assets/external_link.png" alt=""> -->
                            </div>
                        </div>

                        <!-- List -->
                        <div class="question_container" *ngFor="let items of question['data']['items'] let i = index">
                            <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'ordered'">
                                <ol class="d_flex_start">
                                    <p class="ordered_list_number">{{i + 1}}.</p>
                                    <p class="order_list_item" [innerHTML]="items"></p>
                                </ol>
                            </div>
                            <div class="margin_left element_margin_text"
                                *ngIf="question['data']['style'] == 'unordered'">
                                <ul>
                                    <li [innerHTML]="items"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="question_container element_margin_text" *ngIf="question['data']['table']">
                            <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                class="d_flex_start tableRow"
                                *ngFor="let position of question['data']['table']['length'] let i = index">
                                <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                    *ngFor="let tableItem of question['data']['table'][position]">
                                    <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Rendering ANSWERS  -->
                    <div class="answer_btn_container ">
                        <div class="answer_btn_wrapper d_flex_space">
                            <div *ngIf="data.currentUserID == questionData.creatorId || questionData.type == 'muster'"
                                class="d_flex">
                                <button class="question_edit_btn"
                                    (click)="showEditOverlay(questionData)">Bearbeiten</button>

                                <button class="question_edit_btn is_delete"
                                    (click)="showDeleteOverlay(questionData.id)">Löschen</button>
                                <!-- <div (click)="showDeleteOverlay(questionData.id)">
                                    <img class="delete_question_icon" src="assets/delete_question_icon.png" alt="">
                                </div> -->
                            </div>
                            <div *ngIf="data.currentUserID != questionData.creatorId">

                            </div>


                            <button (click)="toggleAnswer(questionData.id); $event.stopPropagation()"
                                [class.answer_btn_schwer]="questionData.schwierigkeit == 'Schwer'"
                                [class.answer_btn_mittel]="questionData.schwierigkeit == 'Mittel'"
                                [class.answer_btn_leicht]="questionData.schwierigkeit == 'Leicht'"
                                class="answer_btn d_flex"><img
                                    [class.question_arrow_turned]="currentId == questionData.id" class="question_arrow"
                                    src="assets/arrow_slim.png">
                                Antwort
                            </button>
                        </div>

                        <app-info-overlay *ngIf="deleteQuestionOverlay"
                            (closeQuestionDeleteOverlay)="deleteQuestionOverlay = false" [questionID]="deleteQuestionID"
                            [deleteQuestionOverlay]="true">
                        </app-info-overlay>


                        <div *ngIf="currentId == questionData.id" class="answer_wrapper">
                            <div class="">
                                <div *ngFor="let question of questionData['antwort']['blocks']">
                                    <div class="question_container" [innerHTML]="question['data']['text'] ">
                                    </div>


                                    <div ngClass="question_container" *ngIf="question['type'] == 'checklist'"
                                        class="margin_left ">
                                        <div class="element_margin_text d_flex_start"
                                            *ngFor="let item of question['data']['items'] let k = index">
                                            <div class="checkfield d_flex" [class.checked]="item['checked'] == true">
                                                <img class="checkbox_icon" *ngIf="item['checked'] == true"
                                                    src="assets/plus_icon.png" alt="">
                                            </div>
                                            <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                        </div>
                                    </div>

                                    <div class="element_margin_doc" style="display: flex;"
                                        *ngIf="question['data']['file']">
                                        <img loading="lazy" class="question_img"
                                            src="{{ question['data']['file']['url'] }}" alt="">
                                        <div class="attaches d_flex" *ngIf="question['type'] === 'attaches'">
                                            <img class="attached_icon" src="assets/attached.png" alt="">
                                            <a target="_blank" href="{{ question['data']['file']['url'] }}">
                                                Dokument angehängt
                                            </a>
                                            <!-- <img class="link_icon" src="assets/external_link.png" alt=""> -->
                                        </div>
                                    </div>

                                    <div class="question_container"
                                        *ngFor="let items of question['data']['items'] let i = index">
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'ordered'">
                                            <ol class="d_flex_start">
                                                <p class="ordered_list_number">{{i + 1}}.</p>
                                                <p class="order_list_item" [innerHTML]="items"></p>
                                            </ol>
                                        </div>
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'unordered'">
                                            <ul>
                                                <li [innerHTML]="items"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="question_container element_margin_text"
                                        *ngIf="question['data']['table']">
                                        <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                            class="d_flex_start tableRow"
                                            *ngFor="let position of question['data']['table']['length'] let i = index">
                                            <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                *ngFor="let tableItem of question['data']['table'][position]">
                                                <div class="tableItem d_flex_start" [innerHTML]="tableItem">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FILTER -->
            <div *ngIf="openFilter" class="filter_overlay_bg" (click)="openFilter = false">
                <div class="filter_overlay" (click)="$event.stopPropagation()">
                    <div class="overlay_navbar">
                        <button class="btn_reset" (click)="resetAllFilters()">zurücksetzen</button>
                        <h1 class="overlay_headline">Aufgaben Filtern</h1>
                        <button type="button" (click)="openFilter = false" class="btn_cancel">X</button>
                    </div>


                    <div class="main_wrapper d_flex_column ">
                        <div class="d_flex_column" style="margin-top: 5vh">
                            <h2>Fach</h2>
                            <div class="subject_btn_wrapper d_flex">
                                <div *ngIf="data.currentUserData.subjects == 0" class="d_flex_column">
                                    <p>{{ 'Es wurde noch kein Fach ausgewählt!' }}</p>
                                    <button routerLink="/account" class="subject_btn">Schulfach auswählen</button>
                                </div>

                                <button *ngFor="let subject of data.currentUserData.subjects; let i = index"
                                    (click)="setSubjectFilter(subject, i)" class="subject_btn"
                                    [class.selectedButton]="i == selectedSubjectButton">{{ subject }}</button>
                            </div>
                        </div>

                        <div class="section_separator margin_top_bottom"></div>

                        <div class="d_flex_column">
                            <h2>Klasse</h2>
                            <div class="subject_btn_wrapper d_flex">
                                <div *ngIf="data.currentUserData.classes == 0" class="d_flex_column">
                                    <p>{{ 'Es wurde noch keine Klasse ausgewählt!'}}</p>
                                    <button routerLink="/account" class="subject_btn">Klasse auswählen</button>
                                </div>

                                <button *ngFor="let class of data.currentUserData.classes; let i = index"
                                    (click)="setClassFilter(class, i)" class="subject_btn"
                                    [class.selectedButton]="i == selectedClassButton">{{class}}</button>
                            </div>
                        </div>

                        <div class="section_separator margin_top_bottom"></div>

                        <div class="d_flex_column">
                            <h2>Schwierigkeit</h2>
                            <div class="subject_btn_wrapper d_flex">
                                <button (click)="setDifficultyFilter('Leicht')" class="subject_btn"
                                    [class.selectedButton_leicht]="filteredDifficulty == 'Leicht'">Leicht</button>
                                <button (click)="setDifficultyFilter('Mittel')" class="subject_btn"
                                    [class.selectedButton_mittel]="filteredDifficulty == 'Mittel'">Mittel</button>
                                <button (click)="setDifficultyFilter('Schwer')" class="subject_btn"
                                    [class.selectedButton_schwer]="filteredDifficulty == 'Schwer'">Schwer</button>
                            </div>
                        </div>
                        <div class="section_separator margin_top_bottom"></div>

                        <div class="d_flex_column">
                            <h2>Art</h2>
                            <div class="d_flex subject_btn_wrapper">

                                <button (click)="setKindOfQuestionFilter('standard')" class="subject_btn"
                                    [class.selectedButton]="filteredKind == 'standard'">Standard</button>


                                <button (click)="setKindOfQuestionFilter('multipleChoice')" class="subject_btn"
                                    [class.selectedButton]="filteredKind == 'multipleChoice'">Multiple Choice</button>


                                <!-- <button (click)="setKindOfQuestionFilter('unteraufgaben')"
                                class="subject_btn"
                                [class.selectedButton]="filteredKind == 'unteraufgaben'">Unteraufgaben</button> -->

                            </div>
                        </div>
                        <!-- <div class="section_separator margin_top_bottom"></div> -->

                        <!-- <div class="subject_btn_wrapper d_flex"> -->
                        <!-- <button type="button" class="btn_large is_cancel"
                            (click)="openFilter = false">Abbrechen</button> -->
                        <button *ngIf="filters.length != 0" class="btn_fixed_fullwidth" (click)="openFilter = false">
                            {{ totalQuestionsNumber != 1 ? totalQuestionsNumber + ' Aufgaben gefunden' :
                            totalQuestionsNumber + ' Aufgabe gefunden' }}
                        </button>
                        <!-- </div> -->
                    </div>
                </div>
            </div>


            <!-- BOTTOMBAR Questionslist SEARCH / BUTTONS-->
            <div *ngIf="search" class="bottom_bar_wrapper">
                <input class="search" #search id="search" type="search" placeholder="Suche" value="{{currentSearch}}"
                    (keyup)="onKeyUpSearchInput($event)" (keyup.enter)="closeSearch(search.value)">
                <button class="shot_search_btn d_flex" (click)="closeSearch(search.value)"><img
                        class="search_close_icon" src="assets/search.png" alt=""></button>
            </div>

            <div *ngIf="!search" class="bottom_bar_wrapper">
                <button (click)="showAddOverlay()" class="add_question_btn">
                    Hinzufügen</button>

                <div class="menu_burger d_flex">
                    <img (click)="openSearch()" style="width: 60%;" src="assets/search.png" alt="">
                </div>
                <button class="add_question_btn" (click)="openFilter = true">
                    Filtern <span *ngIf="filters.length != 0" class="filter_number">{{ filters.length
                        }}</span></button>
            </div>
        </div>


        <!--  -->
        <!-- TEST PREVIEW -->
        <!--  -->
        <div *ngIf="data.loaded" id="test_print" class="test_print" [class.opacity0]="!preview"
            style="position: relative;" (mouseup)="checkHeightsInterval('stop')">
            <div  id="test_dinA4{{j}}" *ngFor="let pages of test['pages'] let j = index" class="test_dinA4 page_break">
                <div id="page_number">
                    <p style="margin-bottom: 0px;" class="page_number">{{j + 1}}/{{ test['pages'].length }}</p>
                </div>
                <button *ngIf="j == 0" (click)="deleteTestOverlay = true;" class="new_test_btn show_onHover d_flex"><img
                        class="remove_icon" src="assets/x_icon.png" alt="">
                </button>

                <app-info-overlay *ngIf="deleteTestOverlay" (closeTestDeleteOverlay)="deleteTestOverlay = false"
                    [newTestOverlay]="true">
                </app-info-overlay>

                <div id="test_content{{j}}" class="test_content d_flex_column_start">
                    <div style="width: 100%; padding-bottom: 3%;">

                    </div>

                    <!-- Testhead -->
                    <div id="testhead" class="testHead d_flex_column" *ngIf="j == 0">
                        <div class="test_head_wrapper d_flex_space">
                            <div class="test_head">
                                <p class="school_name">{{ data.currentUserData.testhead['schoolname'] }}</p>
                                <p class="testname">{{ data.currentUserData.testhead['testname'] }}</p>
                            </div>
                            <div class="message_container">
                                <p class="message">Viel <br> Erfolg!</p>
                            </div>
                        </div>

                        <div class="test_head_infos d_flex_space">
                            <div class="name_date_wrapper d_flex_start_column">
                                <p class="class">Name:</p>
                                <p class="class">Datum:</p>
                            </div>
                            <div class="class_wrapper">
                                <p class="class">Klasse:</p>
                                <p class="class">Note:</p>
                            </div>
                        </div>

                        <div class="test_head_data d_flex_space">
                            <p class="class">Bearbeitungszeit: {{ data.currentUserData.testhead['totaltime'] }} Min.</p>
                            <p class="test_head_data_item">Punktzahl: <b class="test_total_number">/{{
                                    currentTestPoints
                                    }}</b></p>
                        </div>
                        <div class="edit_testhead_wrapper">
                            <button (click)="openEditTestHeadComponent()" class="edit_testhead_btn">Testkopf
                                bearbeiten</button>
                        </div>
                    </div>


                    <!-- Noch keien Aufgabe hinzugefügt INFO-->
                    <div class="added_questions_empty_container d_flex_column"
                        *ngIf="test['pages'][0][0].length == 0 && j == 0 && test['pages'].length < 2 ">
                        <button (click)="openPreview()" class="btn is_start"></button>
                        <p class="added_questions_empty_info">Noch keine Aufgaben hinzugefügt</p>
                    </div>


                    <!-- QUESTION AND SOLUTION TEST PREVIEW -->
                    <div id="question{{ j }}{{ i }}" class="question_wrapper d_flex_column"
                    [class.dragged]="currentDragedPage == j && currentDragedQuestion == i"  [class.solution_wrapper]="sampleSolution" *ngFor="let testquestion of pages[0] let i = index"
                        (drop)="dropQuestion($event, j, i)"  (dragover)="questionDragEnd($event, j, i)" (mouseover)="getCurrentQuestion(j, i)" (click)="getCurrentQuestion(j, i)"
                        [ngStyle]="{'height': testquestion['questionHeight'] && !sampleSolution ? testquestion['questionHeight'] : 'fit-content',
                        'min-height': testquestion['defaultHeight'] && !sampleSolution ? testquestion['defaultHeight'] + '%' : 'none'}">
                        <div id="questionContent{{j}}{{i}}" class="question_test">
                            <div class="question_head_container">
                                <div class="question_info d_flex_start">
                                    <div class="question_test_number d_flex">
                                        {{!sampleSolution ? 'Aufgabe' : 'Lösung'}} <p class="test_number"
                                            id="question_number{{ j }}{{ i }}"></p>
                                    </div>

                                </div>
                                <div class="question_add d_flex">
                                    <div class="question_test_points">
                                        /{{ testquestion['punktzahl'] }}
                                    </div>
                                </div>

                                <!-- *ngIf="j != 0 && test.pages[j - 1][0].length == 1 && i == 0" -->
                                <button style="margin-right: 300px;"
                                    class="save_edited_question show_onHover d_flex">Verschieben|| {{
                                    test.pages[j][0].length }}</button>


                                <button *ngIf="data.currentUserID == testquestion['creatorId']"
                                    (click)="saveEditedQuestionAsDefault(j, i, testquestion['id'])"
                                    style="margin-right: 40px;" class="save_edited_question show_onHover d_flex">Layout
                                    als Standard speichern</button>
                                <button id="{{ 'remove_btn' + i }}" (click)="removeFromTest(testquestion['id'])"
                                    class="remove_from_test_btn show_onHover d_flex"><img class="remove_icon"
                                        src="assets/x_icon.png" alt=""></button>
                            </div>

                            <!-- QUESTION -->
                            <ng-container *ngIf="!sampleSolution">

                                <!-- //DRAGAble Content  Line wurde am Start hinzugefügt => EVTL. Probleme-->
                                <div draggable="true" (dragstart)="questionOnDragStart($event, i, j)" >

                                    <div *ngFor="let question of testquestion['frage']['blocks'] let k = index">

                                        <div class="preview_question_container" [innerHTML]="question['data']['text'] "
                                            contenteditable="true">
                                            <!-- Text -->
                                        </div>

                                        <div *ngIf="question['type'] == 'checklist'" class="margin_left ">
                                            <!-- Checklists -->
                                            <div class="element_margin_text d_flex_start"
                                                *ngFor="let item of question['data']['items']">
                                                <div class="checkfield">
                                                </div>
                                                <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                            </div>
                                        </div>

                                        <div class="element_margin_text" *ngIf="question['data']['file']">
                                            <!-- Images -->
                                            <div class="img_wrapper d_flex_start">
                                                <div *ngIf="question['type'] === 'image'"
                                                    id="img_edit_wrapper{{ j }}{{ i }}{{ k }}"
                                                    (mouseover)="resizeImage(j, i, k)"
                                                    (mouseup)="resizeImageOnMouseUp(j, i, k)"
                                                    (mousedown)="checkHeightsInterval('start')"
                                                    (mouseup)="checkHeightsInterval('stop')"
                                                    (touchstart)="resizeImageOnTouchStart($event, j, i, k)"
                                                    (touchmove)="resizeImageOnTouchMove($event, j, i)"
                                                    (touchend)="resizeImageOnTouchEnd(j, i, k)"
                                                    (touchmove)="checkHeightOfAllPreviewQuestions(); setQuestionNumber(); getSquaresAndLines(j, i)"
                                                    class="img_edit_wrapper d_flex"
                                                    [ngStyle]="{'width': question['width'] ? question['width'] : '30%'}">
                                                    <img id="questionImage{{ j }}{{ i }}{{ k }}"
                                                        class="preview_question_img"
                                                        src="{{ question['data']['file']['url'] }}" alt="">
                                                    <div (click)="service.onEvent($event)"
                                                        id="resizeImage{{ j }}{{ i }}{{ k }}"
                                                        class="resize_image d_flex show_onHover">
                                                        <span class="resize_image_line"></span>
                                                    </div>
                                                </div>

                                                <!-- ATTACHES -->
                                                <div class="attaches d_flex_column opacity1_onHover"
                                                    *ngIf="question['type'] === 'attaches'">
                                                    <div class="d_flex">
                                                        <img class="attached_icon" src="assets/attached.png" alt="">
                                                        <a target="_blank" href="{{ question['data']['file']['url'] }}">
                                                            Siehe Anhang {{ question['data']['title'] != '' ? '/ ' +
                                                            question['data']['title'] : ''}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="preview_question_container"
                                            *ngFor="let items of question['data']['items'] let i = index">
                                            <!-- Lists -->
                                            <div class="margin_left element_margin_text"
                                                *ngIf="question['data']['style'] == 'ordered'">
                                                <ol class="d_flex_start preview_lists">
                                                    <p class="ordered_list_number">{{i + 1}}.</p>
                                                    <p class="order_list_item" [innerHTML]="items"></p>
                                                </ol>
                                            </div>
                                            <div class="margin_left element_margin_text"
                                                *ngIf="question['data']['style'] == 'unordered'">
                                                <ul class="preview_unordered_list">
                                                    <li [innerHTML]="items"></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="preview_question_container element_margin_text"
                                            *ngIf="question['data']['table']">
                                            <!-- tables -->
                                            <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                                class="d_flex_start tableRow"
                                                *ngFor="let position of question['data']['table']['length'] let i = index">
                                                <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                    *ngFor="let tableItem of question['data']['table'][position]">
                                                    <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </ng-container>



                            <!-- SOLUTION -->
                            <ng-container *ngIf="sampleSolution">
                                <div *ngFor="let question of testquestion['antwort']['blocks'] let k = index">

                                    <div class="preview_question_container" [innerHTML]="question['data']['text'] ">
                                        <!-- Text -->
                                    </div>

                                    <div *ngIf="question['type'] == 'checklist'" class="margin_left ">
                                        <!-- Checklists -->
                                        <div class="element_margin_text d_flex_start"
                                            *ngFor="let item of question['data']['items'] let k = index">
                                            <div class="checkfield d_flex" [class.checked]="item['checked'] == true">
                                                <img class="checkbox_icon" *ngIf="item['checked'] == true"
                                                    src="assets/plus_icon.png" alt="">
                                            </div>
                                            <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                        </div>
                                    </div>

                                    <div class="element_margin_text" *ngIf="question['data']['file']">
                                        <!-- Images -->
                                        <div class="img_wrapper d_flex_start">
                                            <div *ngIf="question['type'] === 'image'"
                                                id="img_edit_wrapper{{j}}{{i}}{{k}}" class="img_edit_wrapper d_flex"
                                                [ngStyle]="{'width': question['width'] ? question['width'] : '30%'}">
                                                <img id="questionImage{{ j }}{{ i }}{{k}}" class="preview_question_img"
                                                    src="{{ question['data']['file']['url'] }}" alt="">
                                                <div (click)="service.onEvent($event)" id="resizeImage{{j}}{{i}}{{k}}"
                                                    class="resize_image d_flex show_onHover">
                                                    <span class="resize_image_line"></span>
                                                </div>
                                            </div>

                                            <!-- ATTACHES -->
                                            <div class="attaches d_flex_column opacity1_onHover"
                                                *ngIf="question['type'] === 'attaches'">
                                                <div class="d_flex">
                                                    <img class="attached_icon" src="assets/attached.png" alt="">
                                                    <a target="_blank" href="{{ question['data']['file']['url'] }}">
                                                        Siehe Anhang {{ question['data']['title'] != '' ? '/ ' +
                                                        question['data']['title'] : ''}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="preview_question_container"
                                        *ngFor="let items of question['data']['items'] let i = index">
                                        <!-- Lists -->
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'ordered'">
                                            <ol class="d_flex_start preview_lists">
                                                <p class="ordered_list_number">{{i + 1}}.</p>
                                                <p class="order_list_item" [innerHTML]="items"></p>
                                            </ol>
                                        </div>
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'unordered'">
                                            <ul class="preview_unordered_list">
                                                <li [innerHTML]="items"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="preview_question_container element_margin_text"
                                        *ngIf="question['data']['table']">
                                        <!-- tables -->
                                        <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                            class="d_flex_start tableRow"
                                            *ngFor="let position of question['data']['table']['length'] let i = index">
                                            <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                *ngFor="let tableItem of question['data']['table'][position]">
                                                <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-container>


                            <!-- Whitespace Edit -->
                            <div id="edit_whitespace{{j}}{{i}}"
                                class="edit_question_whitespace_wrapper d_flex show_onHover notVisible">
                                <div class="edit_question_whitespace_btn_wrapper d_flex">
                                    <button class="whitespace_btn d_flex"
                                        (click)="showWhite(j, i); checkHeightsInterval('stop')"></button>

                                    <button class="whitespace_btn d_flex_column"
                                        (click)="showLines(j, i); checkHeightsInterval('stop')">
                                        <span class="lines"></span>
                                        <span class="lines"></span>
                                        <span class="lines is_last"></span>
                                    </button>

                                    <button class="whitespace_btn d_flex_column"
                                        (click)="showSquare(j, i); checkHeightsInterval('stop')">
                                        <div class="square_row is_top d_flex ">
                                            <span class="squares"></span>
                                            <span class="squares"></span>
                                            <span class="squares"></span>
                                        </div>
                                        <div class="square_row d_flex">
                                            <span class="squares border_left"></span>
                                            <span class="squares"></span>
                                            <span class="squares"></span>
                                        </div>
                                        <div class="square_row d_flex">
                                            <span class="squares"></span>
                                            <span class="squares"></span>
                                            <span class="squares"></span>
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <!-- RESIZE Line -->
                            <div (click)="service.onEvent($event)" (mousedown)="checkHeightsInterval('start')"
                                (mouseup)="checkHeightsInterval('stop')"
                                (touchstart)="resizeQuestionOnTouchStart($event, j, i)"
                                (touchmove)="resizeQuestionOnTouchMove($event, j, i)"
                                (touchend)="resizeQuestionOnTouchEnd(j, i)" (mouseover)="resizeQuestion(j, i)"
                                (mouseup)="resizeQuestionOnMouseUp(j, i)"
                                (mousemove)="setQuestionNumber(); getSquaresAndLines(j, i)"
                                (touchmove)="checkHeightOfAllPreviewQuestions(); setQuestionNumber(); getSquaresAndLines(j, i)"
                                id="resize{{j}}{{i}}" class="height_info_wrapper d_flex show_onHover">
                                <span class="resize_line"></span>
                            </div>
                        </div>


                        <!-- whitspace SQUARES -->
                        <div id="whitespace_squares{{j}}{{i}}" class="d_flex_column squareWhitespace_wrapper"
                            [ngStyle]="{'display' : testquestion['whitespace'] == 'squares' && !sampleSolution ? 'block' : 'none'}">
                        </div>
                        <!-- whitespace LINES -->
                        <div id="whitespace_lines{{j}}{{i}}" class="d_flex_column linesWhitespace_wrapper"
                            [ngStyle]="{'display' : testquestion['whitespace'] == 'lines' && !sampleSolution  ? 'block' : 'none'}">
                        </div>


                    </div>
                </div>
            </div>

            <!-- BOTTOM BAR test preview-->
            <!-- <div class="add_question_container d_flex" [class.d_none]="!preview"> -->
            <div class="redu_undo_btn_wrapper d_flex_column">
                <button (click)="undoState()" class="undo_redo_btn d_flex"><img class="undo_redo_icon"
                        src="assets/redu_undo.png" alt=""></button>
                <button (click)="redoState()" class="undo_redo_btn d_flex"><img class="undo_redo_icon is_turned"
                        src="assets/redu_undo.png" alt=""></button>
            </div>

            <div class="bottom_bar_wrapper" [class.d_none]="!preview">
                <button class="add_question_btn" (click)="toggleSolutions()">{{!sampleSolution ? 'Lösung' :
                    'Aufgaben'}}</button>

                <div class="menu_burger d_flex" matTooltip="Export" matTooltipPosition="above">
                    <img (click)="printTest()" style="width: 60%;" src="assets/export_icon.png" alt="">
                </div>
                <button class="add_question_btn">Speichern</button>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <app-edit-testhead *ngIf="editTesthead" (closeEditTestHeadOverlay)="editTesthead = false;">
    </app-edit-testhead>

    <div [class.d_none]="!alertService.alert" class="alert alert_border_green d_flex" id="alert">

    </div>