<!-- Header Component-->
<app-header *ngIf="logedIn"></app-header>
<!-- Edit Component -->
<app-edit class="add_question_overlay" *ngIf="overlay" (closeAddQuestionOverlay)="overlay = false"></app-edit>

<app-spinner *ngIf="service.loading"></app-spinner>

<div *ngIf="data.loaded && logedIn" [class.d_none]="overlay" class="questions_wrapper d_flex">
    <div class="questions_container">
        <div class="headline_test_infos d_flex">
            <div class="headline_test_infos_inside_container">
                <div class="headline_infos d_flex_end_end">

                    <div class="test_infos_wrapper d_flex">
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestTime }} Min</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero">{{ currentTestPoints }} Pkt</p>
                        </div>
                        <div class="test_info_item">
                            <p class="margin_zero"> {{ addedToTest.length }} {{addedToTest.length !== 1 ? 'Aufgaben' :
                                'Frage'}}
                            </p>
                        </div>
                    </div>

                    <div class="d_flex">
                        <button (click)="openPreview()" class="preview_btn">{{ !preview ? 'Zum Test' : '+Aufgabe'
                            }}</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- All Questions View with solution-->
        <div [class.d_none]="preview" class="questions d_flex_column" id="allQuestionsListView">
            <div class="totalQuestionsNumber_wrapper d_flex_start">
                {{ totalQuestionsNumber == 1 ? totalQuestionsNumber + ' Aufgabe' : totalQuestionsNumber + ' Aufgaben' }}
                {{filters.length != 0 ? '/ ' + filters.length + ' Filter' : ''}}
            </div>
            <div *ngIf="totalQuestionsNumber == 0" class="question_wrapper_listview d_flex_column">
                <div class="question">
                    Keine passende Aufgabe gefunden!
                </div>

            </div>
            <div id="questionListView{{i}}" class="question_wrapper_listview d_flex_column"
                *ngFor="let questionData of data.loadedQuestions let i = index">
                <div id="question_list{{ i }}" class="question">
                    <div class="question_head_container">
                        <div class="question_info d_flex_start">
                            <div class="question_info__difficulty_btn d_flex"
                                [class.dificulty_leicht_btn]="questionData.schwierigkeit == 'Leicht'"
                                [class.dificulty_mittel_btn]="questionData.schwierigkeit == 'Mittel'"
                                [class.dificulty_schwer_btn]="questionData.schwierigkeit == 'Schwer'">
                                <p class="margin_zero">{{ questionData.schwierigkeit }}</p>
                            </div>

                            <div class="question_info_btn">
                                {{ questionData.fach }}
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.klasse }}
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.punktzahl }} Pkt
                            </div>
                            <div class="question_info_btn">
                                {{ questionData.bearbeitungszeit }} Min
                            </div>
                            <img style="width: 15px;
                            margin-right: 15px;" src="assets/user_icon.png" alt="">
                        </div>



                        <div class="question_add">
                            <button id="{{ 'add_btn' + i }}"
                                (click)="addToTest(questionData.id, 'add_styling', questionData.schwierigkeit)"
                                class="question_add_btn d_flex"><img class="add_icon" src="assets/plus_icon.png" alt="">
                            </button>
                            <button id="{{ 'remove_btn' + i }}"
                                (click)="removeFromTest(questionData.id, questionData.schwierigkeit)"
                                class="question_add_btn d_none d_flex"><img class="remove_icon"
                                    src="assets/plus_icon.png" alt="">
                            </button>
                        </div>
                    </div>

                    <div *ngFor="let question of questionData['frage']['blocks']">
                        <div class="question_container" [innerHTML]="question['data']['text'] ">
                        </div>

                        <!-- Checkbox -->
                        <div ngClass="question_container" *ngIf="question['type'] == 'checklist'" class="margin_left ">
                            <div class="element_margin_text d_flex_start"
                                *ngFor="let item of question['data']['items'] let k = index">
                                <div class="checkfield">
                                </div>
                                <p class="checkbox_item" [innerHTML]="item['text']"></p>
                            </div>
                        </div>

                        <div class="element_margin_text" *ngIf="question['data']['file']">
                            <img loading="lazy" class="question_img" src="{{ question['data']['file']['url'] }}" alt="">

                        </div>

                        <div class="question_container" *ngFor="let items of question['data']['items'] let i = index">
                            <div class="margin_left element_margin_text" *ngIf="question['data']['style'] == 'ordered'">
                                <ol class="d_flex_start">
                                    <p class="ordered_list_number">{{i + 1}}.</p>
                                    <p class="order_list_item" [innerHTML]="items"></p>
                                </ol>
                            </div>
                            <div class="margin_left element_margin_text"
                                *ngIf="question['data']['style'] == 'unordered'">
                                <ul>
                                    <li [innerHTML]="items"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="question_container element_margin_text" *ngIf="question['data']['table']">
                            <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                class="d_flex_start tableRow"
                                *ngFor="let position of question['data']['table']['length'] let i = index">
                                <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                    *ngFor="let tableItem of question['data']['table'][position]">
                                    <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Rendering Answers  -->
                    <div class="answer_btn_container ">
                        <div class="answer_btn_wrapper d_flex_end" (click)="toggleAnswer(questionData.id)">
                            <button [class.answer_btn_schwer]="questionData.schwierigkeit == 'Schwer'"
                                [class.answer_btn_mittel]="questionData.schwierigkeit == 'Mittel'"
                                [class.answer_btn_leicht]="questionData.schwierigkeit == 'Leicht'"
                                class="answer_btn d_flex"><img
                                    [class.question_arrow_turned]="currentId == questionData.id" class="question_arrow"
                                    src="assets/arrow_slim.png">
                                Antwort
                            </button>
                        </div>


                        <div *ngIf="currentId == questionData.id" class="answer_wrapper">
                            <div class="">
                                <div *ngFor="let question of questionData['antwort']['blocks']">
                                    <div class="question_container" [innerHTML]="question['data']['text'] ">
                                    </div>


                                    <div ngClass="question_container" *ngIf="question['type'] == 'checklist'"
                                        class="margin_left ">
                                        <div class="element_margin_text d_flex_start"
                                            *ngFor="let item of question['data']['items'] let k = index">
                                            <div class="checkfield d_flex" [class.checked]="item['checked'] == true">
                                                <img class="checkbox_icon" *ngIf="item['checked'] == true"
                                                    src="assets/plus_icon.png" alt="">
                                            </div>
                                            <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                        </div>
                                    </div>

                                    <div class="element_margin_text" *ngIf="question['data']['file']">
                                        <img loading="lazy" class="question_img"
                                            src="{{ question['data']['file']['url'] }}" alt="">

                                    </div>

                                    <div class="question_container"
                                        *ngFor="let items of question['data']['items'] let i = index">
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'ordered'">
                                            <ol class="d_flex_start">
                                                <p class="ordered_list_number">{{i + 1}}.</p>
                                                <p class="order_list_item" [innerHTML]="items"></p>
                                            </ol>
                                        </div>
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'unordered'">
                                            <ul>
                                                <li [innerHTML]="items"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="question_container element_margin_text"
                                        *ngIf="question['data']['table']">
                                        <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                            class="d_flex_start tableRow"
                                            *ngFor="let position of question['data']['table']['length'] let i = index">
                                            <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                *ngFor="let tableItem of question['data']['table'][position]">
                                                <div class="tableItem d_flex_start" [innerHTML]="tableItem">

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="question_edit_btn_wrapper">
                                <button class="question_edit_btn">Edit</button>
                                <button class="question_edit_btn" (click)="data.log(questionData.id)">ds</button>
                                <button class="question_edit_btn" (click)="infoOverlay = true">Delete</button>
                            </div>

                            <app-info-overlay *ngIf="infoOverlay" (closeInfoOverlay)="infoOverlay = false"
                                [questionID]="questionData.id" [deleteQuestionOverlay]="true">
                            </app-info-overlay>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FILTER -->
            <div *ngIf="openFilter" class="filter_overlay">
                <div class="main_wrapper d_flex_column ">
                    <div class="d_flex_column">
                        <h2>Nach Fach filtern</h2>
                        <div class="subject_btn_wrapper d_flex">
                            <div *ngIf="data.currentUserData.subjects == 0" class="d_flex_column">
                                <p >{{ 'Es wurde noch kein Fach ausgewählt!' }}</p>
                                <button routerLink="/account" class="subject_btn">Schulfach auswählen</button>
                            </div>
                            
                            <button *ngFor="let subject of data.currentUserData.subjects; let i = index"
                                (click)="setSubjectFilter(subject, i)" class="subject_btn"
                                [class.selectedButton]="i == selectedSubjectButton">{{ subject }}</button>
                        </div>
                    </div>

                    <div class="section_separator margin_top_bottom"></div>

                    <div class="d_flex_column">
                        <h2>Nach Klasse filtern</h2>
                        <div class="subject_btn_wrapper d_flex">
                            <div *ngIf="data.currentUserData.classes == 0" class="d_flex_column">
                                <p >{{ 'Es wurde noch keine Klasse ausgewählt!'}}</p>
                                <button routerLink="/account" class="subject_btn">Klasse auswählen</button>
                            </div>

                            <button *ngFor="let class of data.loadedUserdata[0].classes; let i = index"
                                (click)="setClassFilter(class, i)" class="subject_btn"
                                [class.selectedButton]="i == selectedClassButton">{{class}}</button>
                        </div>
                    </div>

                    <div class="section_separator margin_top_bottom"></div>

                    <div class="d_flex_column">
                        <h2>Nach Schwierigkeit filtern</h2>
                        <div class="subject_btn_wrapper d_flex">
                            <button (click)="setDifficultyFilter('Leicht')" class="subject_btn"
                                [class.selectedButton_leicht]="filteredDifficulty == 'Leicht'">Leicht</button>
                            <button (click)="setDifficultyFilter('Mittel')" class="subject_btn"
                                [class.selectedButton_mittel]="filteredDifficulty == 'Mittel'">Mittel</button>
                            <button (click)="setDifficultyFilter('Schwer')" class="subject_btn"
                                [class.selectedButton_schwer]="filteredDifficulty == 'Schwer'">Schwer</button>
                        </div>
                    </div>
                    <div class="section_separator margin_top_bottom"></div>

                    <div class="d_flex_column">
                        <h2>Nach Art filtern</h2>
                        <div class="d_flex subject_btn_wrapper">

                            <button (click)="setKindOfQuestionFilter('standard')" class="subject_btn"
                                [class.selectedButton]="filteredKind == 'standard'">Standard</button>


                            <button (click)="setKindOfQuestionFilter('multipleChoice')" class="subject_btn"
                                [class.selectedButton]="filteredKind == 'multipleChoice'">Multiple Choice</button>


                            <!-- <button (click)="setKindOfQuestionFilter('unteraufgaben')"
                                class="subject_btn"
                                [class.selectedButton]="filteredKind == 'unteraufgaben'">Unteraufgaben</button> -->

                        </div>
                    </div>
                    <div class="section_separator margin_top_bottom"></div>

                    <div class="subject_btn_wrapper d_flex">
                        <button type="button" class="subject_btn cancel_btn border_none"
                            (click)="openFilter = false">Abbrechen</button>
                        <button class="subject_btn addNew_btn" (click)="openFilter = false">
                            Filter anwenden</button>
                    </div>

                </div>
                <button type="button" (click)="openFilter = false"
                    class="question_add_btn d_flex close_overlay_window_btn"><img class="remove_icon"
                        src="assets/plus_icon.png">
                </button>

            </div>


            <!-- -->

            <!-- SEARCH / BUTTONS-->
            <div class="add_question_container d_flex">
                <div *ngIf="search" class="add_question_btn_wrapper">
                    <input class="search" #search id="search" type="search" placeholder="Suche"
                        value="{{currentSearch}}" (keyup)="onKeyUpSearchInput($event)"
                        (keyup.enter)="closeSearch(search.value)">
                    <button class="shot_search_btn d_flex" (click)="closeSearch(search.value)"><img
                            class="search_close_icon" src="assets/search.png" alt=""></button>
                </div>

                <div *ngIf="!search" class="add_question_btn_wrapper">
                    <button (click)="overlay = true; service.windowScrollTop(); " class="add_question_btn">
                        Hinzufügen</button>

                    <div class="menu_burger">
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_search"></mat-icon> -->
                        <img (click)="openSearch()" style="width: 60%;" src="assets/search.png" alt="">
                    </div>
                    <button class="add_question_btn" (click)="openFilter = true">
                        Filtern <span *ngIf="filters.length != 0" class="filter_number">{{ filters.length
                            }}</span></button>
                </div>
            </div>
            <!--  -->
        </div>


        <!--  -->
        <!-- TEST PREVIEW -->
        <!--  -->
        <div *ngIf="data.loaded" id="test_print" class="test_print" [class.opacity0]="!preview"
            style="position: relative;" (mouseup)="checkHeightsInterval('stop')">
            <!-- <div id="myDiv" style="position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 999;
            background-color: #ff00000d;"  contenteditable="true">
                    <button (click)="saveHtmlAsPNG()">save</button>
            </div> -->
            <div id="test_dinA4{{j}}" *ngFor="let pages of test['pages'] let j = index" class="test_dinA4 page_break">
                <div id="page_number">
                    <p style="margin-bottom: 0px;" class="page_number">{{j + 1}}/{{ test['pages'].length }}</p>
                </div>
                <button *ngIf="addedToTest.length != 0 && j == 0" (click)="infoOverlay = true;" class="new_test_btn show_onHover d_flex"><img class="remove_icon" src="assets/x_icon.png" alt="">
                </button>
                
                <app-info-overlay *ngIf="infoOverlay" (closeInfoOverlay)="infoOverlay = false" [newTestOverlay]="true"> 
                </app-info-overlay>

                <div id="test_content{{j}}" class="test_content d_flex_column_start">
                    <div style="width: 100%; padding-bottom: 3%;">

                    </div>

                    <!-- Testhead -->
                    <div id="testhead" class="testHead d_flex_column" *ngIf="j == 0">
                        <div class="test_head_wrapper d_flex_space">
                            <div class="test_head">
                                <p class="school_name">{{ data.currentUserData.testhead['schoolname'] }}</p>
                                <p class="testname">{{ data.currentUserData.testhead['testname'] }}</p>
                            </div>
                            <div class="message_container">
                                <p class="message">Viel <br> Erfolg!</p>
                            </div>
                        </div>

                        <div class="test_head_infos d_flex_space">
                            <div class="name_date_wrapper d_flex_start_column">
                                <p class="class">Name:</p>
                                <p class="class">Datum:</p>
                            </div>
                            <div class="class_wrapper">
                                <p class="class">Klasse:</p>
                                <p class="class">Note:</p>
                            </div>
                        </div>

                        <div class="test_head_data d_flex_space">
                            <p class="class">Bearbeitungszeit: {{ data.currentUserData.testhead['totaltime'] }} Min.</p>
                            <p class="test_head_data_item">Punktzahl: <b class="test_total_number">/{{
                                    currentTestPoints
                                    }}</b></p>
                        </div>
                        <div class="edit_testhead_wrapper">
                            <button (click)="openEditTestHeadComponent()" class="edit_testhead_btn">Testkopf
                                bearbeiten</button>
                        </div>
                    </div>
                    <!-- TESTHEAD END -->

                    <div class="added_questions_empty_container d_flex_column"
                        *ngIf="test['pages'][0][0].length == 0 && j == 0 && test['pages'].length < 2 ">
                        <button (click)="openPreview()" class="question_add_btn d_flex"><img class="add_icon"
                                src="assets/add.png" alt=""></button>
                        <p class="added_questions_empty_info">Noch keine Aufgaben hinzugefügt</p>
                    </div>


                    <!-- QUESTION AND SOLUTION TEST PREVIEW -->
                    <div id="question{{ j }}{{ i }}" class="question_wrapper d_flex_column"
                        [class.solution_wrapper]="sampleSolution" *ngFor="let data of pages[0] let i = index"
                        (mouseover)="getCurrentQuestion(j, i)" (click)="getCurrentQuestion(j, i)"
                        [ngStyle]="{'height': data['questionHeight'] && !sampleSolution ? data['questionHeight'] : 'fit-content'}">
                        <div id="questionContent{{j}}{{i}}" class="question_test">
                            <div class="question_head_container">
                                <div class="question_info d_flex_start">
                                    <div class="question_test_number d_flex">
                                        {{!sampleSolution ? 'Aufgabe' : 'Lösung'}} <p class="test_number"
                                            id="question_number{{ j }}{{ i }}"></p>
                                    </div>

                                </div>
                                <div class="question_add d_flex">
                                    <div class="question_test_points">
                                        /{{ data['punktzahl'] }}
                                    </div>
                                </div>
                                <button id="{{ 'remove_btn' + i }}"
                                    (click)="removeFromTest(data['id'], data['schwierigkeit']); deleteEmptyPages(j)"
                                    class="remove_from_test_btn show_onHover d_flex"><img class="remove_icon"
                                        src="assets/x_icon.png" alt=""></button>
                            </div>

                            <!-- QUESTION -->
                            <ng-container *ngIf="!sampleSolution">
                                <div *ngFor="let question of data['frage']['blocks'] let k = index">

                                    <div class="preview_question_container" [innerHTML]="question['data']['text'] ">
                                        <!-- Text -->
                                    </div>

                                    <div *ngIf="question['type'] == 'checklist'" class="margin_left ">
                                        <!-- Checklists -->
                                        <div class="element_margin_text d_flex_start"
                                            *ngFor="let item of question['data']['items']">
                                            <div class="checkfield">
                                            </div>
                                            <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                        </div>
                                    </div>

                                    <div class="element_margin_text" *ngIf="question['data']['file']">
                                        <!-- Images -->
                                        <div class="img_wrapper d_flex_start">
                                            <div id="img_edit_wrapper{{ j }}{{ i }}{{ k }}"
                                                (mouseover)="resizeImage(j, i, k)"
                                                (mousedown)="checkHeightsInterval('start')"
                                                (mouseup)="checkHeightsInterval('stop')" class="img_edit_wrapper d_flex"
                                                [ngStyle]="{'width': question['width'] ? question['width'] : '30%'}">
                                                <img id="questionImage{{ j }}{{ i }}{{ k }}"
                                                    class="preview_question_img"
                                                    src="{{ question['data']['file']['url'] }}" alt="">
                                                <div (click)="service.onEvent($event)"
                                                    id="resizeImage{{ j }}{{ i }}{{ k }}"
                                                    class="resize_image d_flex show_onHover">
                                                    <span class="resize_image_line"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="preview_question_container"
                                        *ngFor="let items of question['data']['items'] let i = index">
                                        <!-- Lists -->
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'ordered'">
                                            <ol class="d_flex_start preview_lists">
                                                <p class="ordered_list_number">{{i + 1}}.</p>
                                                <p class="order_list_item" [innerHTML]="items"></p>
                                            </ol>
                                        </div>
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'unordered'">
                                            <ul class="preview_unordered_list">
                                                <li [innerHTML]="items"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="preview_question_container element_margin_text"
                                        *ngIf="question['data']['table']">
                                        <!-- tables -->
                                        <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                            class="d_flex_start tableRow"
                                            *ngFor="let position of question['data']['table']['length'] let i = index">
                                            <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                *ngFor="let tableItem of question['data']['table'][position]">
                                                <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-container>

                            <!-- SOLUTION -->
                            <ng-container *ngIf="sampleSolution">
                                <div *ngFor="let question of data['antwort']['blocks'] let k = index">

                                    <div class="preview_question_container" [innerHTML]="question['data']['text'] ">
                                        <!-- Text -->
                                    </div>

                                    <div *ngIf="question['type'] == 'checklist'" class="margin_left ">
                                        <!-- Checklists -->
                                        <div class="element_margin_text d_flex_start"
                                            *ngFor="let item of question['data']['items'] let k = index">
                                            <div class="checkfield d_flex" [class.checked]="item['checked'] == true">
                                                <img class="checkbox_icon" *ngIf="item['checked'] == true"
                                                    src="assets/plus_icon.png" alt="">
                                            </div>
                                            <p class="checkbox_item" [innerHTML]="item['text']"></p>
                                        </div>
                                    </div>

                                    <div class="element_margin_text" *ngIf="question['data']['file']">
                                        <!-- Images -->
                                        <div class="img_wrapper d_flex_start">
                                            <div id="img_edit_wrapper{{j}}{{i}}{{k}}" class="img_edit_wrapper d_flex"
                                                [ngStyle]="{'width': question['width'] ? question['width'] : '30%'}">
                                                <img id="questionImage{{ j }}{{ i }}{{k}}" class="preview_question_img"
                                                    src="{{ question['data']['file']['url'] }}" alt="">
                                                <div (click)="service.onEvent($event)" id="resizeImage{{j}}{{i}}{{k}}"
                                                    class="resize_image d_flex show_onHover">
                                                    <span class="resize_image_line"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="preview_question_container"
                                        *ngFor="let items of question['data']['items'] let i = index">
                                        <!-- Lists -->
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'ordered'">
                                            <ol class="d_flex_start preview_lists">
                                                <p class="ordered_list_number">{{i + 1}}.</p>
                                                <p class="order_list_item" [innerHTML]="items"></p>
                                            </ol>
                                        </div>
                                        <div class="margin_left element_margin_text"
                                            *ngIf="question['data']['style'] == 'unordered'">
                                            <ul class="preview_unordered_list">
                                                <li [innerHTML]="items"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="preview_question_container element_margin_text"
                                        *ngIf="question['data']['table']">
                                        <!-- tables -->
                                        <div [class.bold]="i == 0 && question['data']['withHeadings'] == true "
                                            class="d_flex_start tableRow"
                                            *ngFor="let position of question['data']['table']['length'] let i = index">
                                            <div [ngStyle]="{'width.%': 100 / question['data']['table'][position].length }"
                                                *ngFor="let tableItem of question['data']['table'][position]">
                                                <div class="tableItem d_flex_start" [innerHTML]="tableItem">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-container>


                            <!-- Whitespace Edit -->
                            <div id="edit_whitespace{{j}}{{i}}"
                                class="edit_question_whitespace_wrapper d_flex show_onHover notVisible">
                                <div class="edit_question_whitespace_btn_wrapper d_flex">
                                    <button class="whitespace_btn d_flex"
                                        (click)="showWhite(j, i); checkHeightsInterval('stop')"></button>
                                    <button class="whitespace_btn d_flex"
                                        (click)="showLines(j, i); checkHeightsInterval('stop')"><img
                                            class="whitespace_btn_icon" src="assets/lines.png" alt=""></button>
                                    <button class="whitespace_btn d_flex"
                                        (click)="showSquare(j, i); checkHeightsInterval('stop')"><img
                                            class="whitespace_btn_icon" src="assets/square.png" alt=""></button>
                                </div>
                            </div>

                            <div (click)="service.onEvent($event)" (mouseover)="resizeQuestion(j, i)"
                                (mousedown)="checkHeightsInterval('start')" (mouseup)="checkHeightsInterval('stop')"
                                (mousemove)="getSquaresAndLines(j, i)" id="resize{{j}}{{i}}"
                                class="height_info_wrapper d_flex show_onHover">
                                <span class="resize_line"></span>
                            </div>
                        </div>
                        <!-- whitspace SQUARES -->

                        <div id="whitespace_squares{{j}}{{i}}" class="d_flex_column squareWhitespace_wrapper"
                            [ngStyle]="{'display' : data['whitespace'] == 'squares' && !sampleSolution ? 'block' : 'none'}">
                        </div>
                        <!-- whitespace LINES -->
                        <div id="whitespace_lines{{j}}{{i}}" class="d_flex_column linesWhitespace_wrapper"
                            [ngStyle]="{'display' : data['whitespace'] == 'lines' && !sampleSolution  ? 'block' : 'none'}">

                        </div>
                    </div>


                </div>

            </div>

            <div class="add_question_container d_flex" [class.d_none]="!preview">
                <div class="add_question_btn_wrapper">
                    <button class="add_question_btn" (click)="toggleSolutions()">{{!sampleSolution ? 'Lösung' :
                        'Aufgaben'}}</button>

                    <div class="menu_burger" matTooltip="Export" matTooltipPosition="above">
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_search"></mat-icon> -->
                        <img (click)="printTest()" style="width: 60%;" src="assets/export_icon.png" alt="">
                    </div>
                    <!-- <div class="menu_burger" matTooltip="Menü" matTooltipPosition="above">
                        <span class="burger_top">
                        </span>
                        <span class="burger_bottom">
                        </span>
                    </div> -->

                    <button class="add_question_btn">Speichern</button>
                </div>
            </div>

            <!-- <form #rangeSliderForm="ngForm">
            <div (click)="closeEditQuestionPreview()" [class.d_none]="!editQuestionAtPreview"
                class="rangebar_wrapper d_flex_column_end">
                <div (click)="$event.stopPropagation()" class="d_flex_column_start rangbar_container">
                    <p class="rangebar_text">{{ styleHeight.value }}mm</p>
                    <input id="height_rangebar" (input)="setHeightQuestion(styleHeight.value)"
                        (change)="setHeightQuestion(styleHeight.value)" class="range_style" type="range"
                        orient="vertical" min="0" max="300" step="10" id="styleHeight" #styleHeight name="styleHeight"
                        ngModel>
                </div>
            </div>

            <div (click)="closeRangeToStyleImage()" [class.d_none]="!editImageAtPreview"
                class="rangebar_wrapper d_flex_column_end">
                <div (click)="$event.stopPropagation()" class="d_flex_column_start rangbar_container">
                    <p class="rangebar_text">{{ styleWidth.value }}%</p>
                    <input (input)="setImageSize(styleWidth.value)" (change)="setImageSize(styleWidth.value)"
                        class="range_style" type="range" orient="vertical" min="20" max="100" step="5" id="styleWidth"
                        #styleWidth name="styleWidth" ngModel>
                </div>
            </div>
        </form> -->
        </div>
    </div>

    <app-edit-testhead *ngIf="editTesthead" (closeEditTestHeadOverlay)="editTesthead = false;">
    </app-edit-testhead>